<div class="col-sm-5 form-box">
    <div class="form-top">
        <div class="form-top-left">
            <h3>Unlock a event</h3>
        </div>
    </div>
    <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'No'">
        <form name="unlockEventForm" data-ng-submit="fnUnlockEvent('event')">
            <div class="form-group">
                <p>Enter event id which you want to unlock <label class="switchOn">*</label> :</p>
                <input type="text" placeholder="Event id" class="form-control" data-ng-model="unlockData.eventID" data-ng-required="!unlockData.eventID">
            </div>
            <div class="form-group">
                <p>Give reason for unlocking <label class="switchOn">*</label> :</p>
                <textarea placeholder="Type reason here..." class="form-control" data-ng-model="unlockData.reason" data-ng-required="!unlockData.reason"></textarea>
            </div>
            <button type="submit" class="btn">Unlock now</button>
            <button ui-sref="masterDb.sectionPage({sectionName: 'unlock'})" class="btn">Go back</button>
        </form>
    </div>
    <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'Yes'">
        <form name="unlockEventForm" data-ng-submit="fnSaveUnlockedEvent('event')">
            <div class="form-group">
                <p>Event id :</p>
                <input type="text" placeholder="Event id" class="form-control" data-ng-model="unlockData.eventID" data-ng-required="!unlockData.eventID" disabled="disabled">
            </div>
            <div class="form-group">
                <p>Reason :</p>
                <textarea placeholder="Type reason here..." class="form-control" data-ng-model="unlockData.reason" data-ng-required="!unlockData.reason" disabled="disabled"></textarea>
            </div>
            <p>Are you sure to unlock this event?
                <button type="submit" class="btn">Yes</button>
                <button data-ng-click="fnGoBack()" class="btn">No</button>
            </p>
        </form>
    </div>
</div>