<!--<div ng-controller="fileExtensionRelationMasterCtrl" >-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>File Extension to type relationship &nbsp;
             <button class="btn btn-default themeLabel" data-ng-click="fnAddFileExtensionRelation($index)" type="button" title="Add File Extension to Type Relation">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>

     <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 25px !important;">
            <span>{{ masterData.messageVal }}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="textarea-initial" data-ng-if="fileExtensionRelationDataSet.length==0">Nothing Found</div>
    <div class="col-md-12">
     <table data-ng-if="fileExtensionRelationDataSet.length>0" st-table="fileExtensionRelationList" st-safe-src="fileExtensionRelationDataSet" class="table ng-scope">
        <thead>
           <tr>
               

               <th class=" col-md-2 " style="width: 1%;"></th>
               <th class=" col-md-2 sortable " st-sort="name"><span class="sorticon"></span>Type</th>
               <th class=" col-md-2 sortable" st-sort="createdAtTimeStamp"><span class="sorticon"></span>Extension</th>
               <th class=" col-md-2 sortable" ><span class="sorticon"></span>Number Of times used</th>

           </tr>
           
        </thead>
        <tbody class="alternate-col">
        <tr class=" reveal-elem-parent" data-ng-repeat="fileExtRelation in fileExtensionRelationList" data-ng-class="{'warning':fileExtRelation.relationId == 0}">
            <td>
                <div class="reveal-elem" data-ng-if="fileExtRelation.noOfTimesUsed == 0">
                    <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-click="fnDeleteFileExtensionRelation(fileExtRelation, $index)" id="remove-ss"></a>
                </div>
             </td>
            <td>
            	<div class="input-group">
                     <a class="cPointer" href="javascript:void(0)"  data-ng-if ="fileExtRelation.noOfTimesUsed==0" editable-select="fileExtRelation.fileTypeId" buttons="no"  e-ng-selected="" e-ng-options="
            		  fileType.id as fileType.typeName for fileType in fileTypeSet.data" blur="submit"
                        onbeforesave="fnCheckFileExtensionRelation(fileTypeData, $data, 'Type')"  onaftersave="fnSaveFileExtensionRelation(fileExtRelation, $index)"
                        data-ng-keypress="fnSaveFileExtensionRelation(fileExtRelation, $index)" >
                         {{fileExtRelation.name||'empty'}}</a>
                    <span data-ng-if ="fileExtRelation.noOfTimesUsed>0">
                         {{fileExtRelation.name||'empty'}}</span>
            	</div>
               
            </td>

            <td  >
              <a class="cPointer" href="javascript:void(0)" data-ng-if ="fileExtRelation.noOfTimesUsed==0" editable-select="fileExtRelation.fileExtensionMasterId" buttons="no"
                blur="submit"
                   e-ng-options ="extensionType.id as extensionType.fileExtensionType for extensionType in extensionTypeSet"
                 onbeforesave="fnCheckFileExtensionRelation(fileTypeData, $data, 'Extension')"  onaftersave="fnSaveFileExtensionRelation(fileExtRelation, $index)"
                   data-ng-keypress="fnSaveFileExtensionRelation(fileExtRelation , $index)" >
                  {{fileExtRelation.extension||'empty'}}</a>

                <span data-ng-if ="fileExtRelation.noOfTimesUsed>0">
                  {{fileExtRelation.extension||'empty'}}</span>

            </td>

            <td class="col-md-4" style="padding-left: 5% !important;">
                <span>{{fileExtRelation.noOfTimesUsed||'0'}}</span>
            </td>
         </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="16" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
        </div>


</div>