<!--<div ng-controller="eligibleDetailMasterCtrl">-->
<div>
    <div class="panel-group">
        <div data-ng-repeat="listItem in listingDetail" style="position: relative;">
            <h4><a class="cPointer" data-ng-click="fnCallToOpenPanel(listItem)" data-ng-class="{eligibleListLayerForInactive:listItem.active==false}">{{$index+1}}. {{listItem.view}}.</a></h4>

            <!--Api keys -->
            <div data-ng-if="listItem.value=='apiKeys' && listItem.active==true" class="panel panel-default eligibleBoxActive" style="padding: 1px;">
                <div class=" popover fade bottom in" style="z-index: 0;top: 19px; display: block; left: -20px;min-width:0px;">
                    <div style="display: block; left:65px;" class="arrow"></div>
                </div>
                <div class="panel-body" style="padding: 6px;">
                    <!--Load api keys data-->
                    <div data-ng-init="getLoadDataForApiKeys()"></div>
                    <div class="fLeft">
                        <h3 style="margin-top: 0px;">Eligible Api Keys</h3>
                    </div>
                    <div class="col-md-10" data-ng-if="msgObj.msg.open && eligiblePanelName=='Eligible Api Keys'">
                        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 5px;">
                            <span>{{ msgObj.msg.text }}</span>
                        </div>
                    </div>
                    <br style="clear: both;"/>
                    <div class="textarea-initial" data-ng-if="!eligibleApiKeysDataSet">Loading...</div>
                    <div class="textarea-initial" data-ng-if="eligibleApiKeysDataSet.length==0">Nothing found.</div>
                    <div data-ng-if="eligibleApiKeysDataSet.length>0">
                        <table st-table="displayEligibleApiKeysDataSet" st-safe-src="eligibleApiKeysDataSet" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="cPointer col-md-1 sortable" st-sort="type"><span class="sorticon"></span>API Key Type</th>
                            <th class="cPointer col-md-4 sortable" st-sort="value"><span class="sorticon"></span>API Key</th>
                            <th class="cPointer col-md-3 sortable" st-sort="token"><span class="sorticon"></span>Publishable Token</th>
                            <th class="cPointer col-md-2 sortable" st-sort="updatedOn"><span class="sorticon"></span>Updated on</th>
                            <th class="cPointer col-md-2 sortable" st-sort="updatedBy"><span class="sorticon"></span>Updated by</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="reveal-elem-parent" data-ng-repeat="eligibleApi in displayEligibleApiKeysDataSet">
                            <td>
                                <span>{{::eligibleApi.type}}</span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" editable-text="eligibleApi.value" buttons="no" blur="submit" onaftersave="updateApiKey(eligibleApi, 'API key')" class="cPointer" e-style="width: 100%">{{::eligibleApi.value || 'empty'}}</a>
                            </td>
                            <td>
                                <a href="javascript:void(0)" editable-text="eligibleApi.token" buttons="no" blur="submit" onaftersave="updateApiKey(eligibleApi, 'Publishable token')" class="cPointer" e-style="width: 100%">{{::eligibleApi.token || 'empty'}}</a>
                            </td>
                            <td>
                                <span>{{::eligibleApi.updatedOn}}</span>
                            </td>
                            <td>
                                <span>{{::eligibleApi.updatedBy}}</span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>

            <!--Payer Details -->
            <div data-ng-if="listItem.value=='payerDetails' && listItem.active==true" class="panel panel-default eligibleBoxActive" style="padding: 1px;">
                <div class=" popover fade bottom in" style="z-index: 0;top: 19px; display: block; left: -20px;min-width:0px;">
                    <div style="display: block; left:75px;" class="arrow"></div>
                </div>
                <div class="panel-body" style="padding: 6px;">
                    <!--Load data of payer Id-->
                    <div data-ng-init="getLoadDataForPayerID()"></div>
                    <div class="fLeft">
                        <h3 style="margin-top: 0px;">Eligible Payer Details</h3>
                    </div>
                    <div class="col-md-8" data-ng-if="msgObj.msg.open && eligiblePanelName=='Eligible Payer Details'">
                        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 5px;">
                            <span>{{ msgObj.msg.text }}</span>
                        </div>
                    </div>
                    <br style="clear: both;"/>
                    <div class="textarea-initial" data-ng-if="!eligiblePayerIdDataSet">Loading...</div>
                    <div class="textarea-initial" data-ng-if="eligiblePayerIdDataSet.length==0">Nothing found.</div>
                    <div data-ng-if="eligiblePayerIdDataSet.length>0">
                        <table st-table="displayEligiblePayerIdDataSet" st-safe-src="eligiblePayerIdDataSet" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="cPointer col-md-2 sortable" st-sort="scInsuranceName"><span class="sorticon"></span>Sc Insurance company name</th>
                                <th class="cPointer col-md-2 sortable" st-sort="eligiblePayerIDForCoverage"><span class="sorticon"></span>Payer ID of eligible for coverage</th>
                                <th class="cPointer col-md-2 sortable" st-sort="eligiblePayerIDForClaim"><span class="sorticon"></span>Payer ID of eligible for claim</th>
                                <th class="col-md-3 "> Payer Address for claim</th>
                                <th class="cPointer col-md-2 sortable" st-sort="updatedOn"><span class="sorticon"></span>Updated on</th>
                                <th class="cPointer col-md-2 sortable" st-sort="updatedBy"><span class="sorticon"></span>Updated by</th>
                            </tr>
                            <tr>
                                <th><input st-search="scInsuranceName"/></th>
                                <th></th>
                                <th></th>
                                <th><span class="col-md-3" style="padding: 2px;">Street Line 1</span><span class="col-md-2" style="padding: 2px;">Street Line 2</span><span class="col-md-3" style="padding: 2px;">City</span><span class="col-md-2" style="padding: 2px;">State</span><span class="col-md-2" style="padding: 2px;">Zip</span></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="reveal-elem-parent" data-ng-repeat="eligiblePayer in displayEligiblePayerIdDataSet">
                                <td>
                                    <a href="javascript:void(0)" editable-text="eligiblePayer.scInsuranceName" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'scInsuranceCompanyName')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.scInsuranceName || 'empty'}}</a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" editable-text="eligiblePayer.eligiblePayerIDForCoverage" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'eligiblePayerIDForCoverage')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.eligiblePayerIDForCoverage || 'empty'}}</a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" editable-text="eligiblePayer.eligiblePayerIDForClaim" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'eligiblePayerIDForClaim')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.eligiblePayerIDForClaim || 'empty'}}</a>
                                </td>
                                <td>
                                    <span class="col-md-3" style="padding: 2px;">
                                        <a href="javascript:void(0)" editable-text="eligiblePayer.address.lineA" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'PayerAddressForClaim')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.address.lineA || 'empty'}}</a>
                                    </span>
                                    <span class="col-md-2" style="padding: 2px;">
                                        <a href="javascript:void(0)" editable-text="eligiblePayer.address.lineB" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'PayerAddressForClaim')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.address.lineB || 'empty'}}</a>
                                    </span>
                                    <span class="col-md-3" style="padding: 2px;">
                                        <a href="javascript:void(0)" editable-text="eligiblePayer.address.city" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'PayerAddressForClaim')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.address.city || 'empty'}}</a>
                                    </span>
                                    <span class="col-md-2" style="padding: 2px;">
                                        <a href="javascript:void(0)" editable-text="eligiblePayer.address.state" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'PayerAddressForClaim')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.address.state || 'empty'}}</a>
                                    </span>
                                    <span class="col-md-2" style="padding: 2px;">
                                        <a href="javascript:void(0)" editable-text="eligiblePayer.address.zip" buttons="no" blur="submit" onaftersave="updatePayer(eligiblePayer, 'PayerAddressForClaim')" class="cPointer" e-style="width: 100%">{{::eligiblePayer.address.zip || 'empty'}}</a>
                                    </span>
                                </td>
                                <td>
                                    <span>{{::eligiblePayer.updatedOn}}</span>
                                </td>
                                <td>
                                    <span>{{::eligiblePayer.updatedBy}}</span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>