<!--<div ng-controller="examLevelsMasterCtrl" >-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Reset Pin
        </h3>
    </div>
    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 17px !important; padding: 5px 20px;">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <div data-ng-if="displayData.pin!= undefined">
        <div class="col-sm-offset-1 col-sm-2" style="text-align: right"><h4>Current Pin :</h4></div>
        <div class="col-sm-3">
            <h4>
                <a href="javascript:void(0)" class="editable-input" editable-text="displayData.pin" e-max-length='4' buttons="no" blur="submit" data-ng-model="displayData.pin" onaftersave="fnUpdatePin(displayData)" data-ng-keypress="fnUpdatePin(displayData)" >{{masterData.pin}}</a>
            </h4>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-offset-1 col-sm-2" style="text-align: right"><h5>Last updated by :</h5></div>
        <div class="col-sm-3"><h5 style="font-weight: normal; padding-top: 2px;">{{displayData.updatedBy}}</h5></div>
        <div class="clearfix"></div>
        <div class="col-sm-offset-1 col-sm-2" style="text-align: right"><h5>Last updated on :</h5></div>
        <div class="col-sm-3"><h5 style="font-weight: normal; padding-top: 2px;">{{displayData.updatedOn}}</h5></div>
    </div>
    <div class="col-sm-6" style="text-align: center" data-ng-if="displayData.pin== undefined">
        <span style="color: #666; font-size: 20px">Loading...</span>
    </div>
</div>
