<!--<div ng-controller="usersMasterCtrl">-->
<div>
    <div data-ng-if="forAddNewUser == false">
        <div class="fLeft">
            <h3>Show/Hide old app &nbsp;</h3>
        </div>
        <div data-ng-if="msgObj.msg.open">
            <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
                <span>{{ msgObj.msg.text }}</span> &nbsp;&nbsp;
                <span data-ng-if="errorMessageShow == 'failed'"><a href="" data-ng-click="fnShowHideErrorDetail()">View detail</a></span>
            </div>
        </div>
        <div class="pannel-message-board mTop20" data-ng-if="showErrorMessage">
            <span class="alert-danger">{{errorMessage}}</span>&nbsp;&nbsp;
            <span><a href="" data-ng-click="fnShowHideErrorDetail()">Hide detail</a></span>
        </div>
        <div class="clearfix"></div>
        <div class="textarea-initial" data-ng-if="showHideDataSet.length == 0">{{masterData.messageVal}}</div>
        <table data-ng-if="showHideDataSet.length>0" st-table="displayShowHideCollection" st-safe-src="showHideDataSet" class="table table-striped">
            <thead>
               <tr>
                   <th class="cPointer col-md-2 sortable padding-left-45p" st-sort="id"><span class="sorticon"></span>Old app Id</th>
                   <th class="cPointer col-md-2 sortable" st-sort="oldAppName"><span class="sorticon"></span>Name</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Current Status</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Changed by</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Changed on</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Time zone</th>
               </tr>
            </thead>
            <tbody>
               <tr class="cPointer reveal-elem-parent" data-ng-repeat="oldAppData in displayShowHideCollection">
                   <td>
                        <div class="input-group">
                            <span href="javascript:void(0)"  buttons="no" blur="submit">{{oldAppData.id || 'empty'}}</span>
                        </div>
                   </td>
                   <td>
                        <div class="input-group">
                            <span href="javascript:void(0)"  buttons="no" blur="submit" >{{oldAppData.oldAppName||'empty'}}</span>
                        </div>
                   </td>
                   <td>
                       <span class="btn btn-danger btn-xs" data-ng-if="oldAppData.showHideOption == 'no'" data-ng-click="fnShowHideApp(oldAppData,'yes')">Hidden</span> 
                       <span class="btn btn-success btn-xs" data-ng-if="oldAppData.showHideOption == 'yes'" data-ng-click="fnShowHideApp(oldAppData,'no')">Shown</span>
                   </td>
                   <td>
                       <div class="input-group">
                           <span href="javascript:void(0)"  buttons="no" blur="submit" >{{oldAppData.changedByUserFirstName +' '+ oldAppData.changedByUserLastName ||'empty'}}</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span href="javascript:void(0)"  buttons="no" blur="submit" >{{oldAppData.changedOn||'empty'}}</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span href="javascript:void(0)"  buttons="no" blur="submit" >{{oldAppData.timeZone||'empty'}}</span>
                       </div>
                   </td>
               </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center" style=" vertical-align: middle;color:#666;font-weight: bold;">
                       <div data-ng-show="paginationInfo.totalItemCount>0">Total <span style="color: #444;">{{paginationInfo.totalItemCount}}</span> old app<span data-ng-show="paginationInfo.totalItemCount>1">s</span>.
                            Show
                            <div class="btn-group report-info">
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="25" ng-class="{'disabled':paginationInfo.totalItemCount<26}">25</label>
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="50" ng-class="{'disabled':paginationInfo.totalItemCount<51}">50</label>
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="100" ng-class="{'disabled':paginationInfo.totalItemCount<101}">100</label>
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="200" ng-class="{'disabled':paginationInfo.totalItemCount<201}">200</label>
                            </div>
                           app per page.
                        </div>
                        <div data-ng-show="paginationInfo.totalItemCount==0">
                            No old app found to show.
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div data-st-pagination="" data-current-page="currentPage" data-st-items-by-page="itemsByPage" data-st-template="directives/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>