<div>
    <div class="fLeft">     <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>User role specific permission settings for locking an event note
            <button class="btn btn-default themeLabel" data-ng-click="fnAddEventNoteLockPermission()" type="button" title="Add New Permission Setting">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
    <div data-ng-if="msgObj.open">
        <div class="pannel-message-board alert" data-ng-class="msgObj.mclass" style="margin-bottom: 0px !important;">
            <span>{{ msgObj.text }}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="displayedNoteLockPermission.length==0">No permission settings defined for any user roles. Click (+) to add one.</div>
    <table data-ng-if="displayedNoteLockPermission.length>0" st-table="displayedNoteLockPermission" st-safe-src="savedNoteLockPermission" class="table table-striped">
        <thead>
        <tr>
            <th class="cPointer col-md-1"></th>
            <th class="cPointer col-md-2">User Role</th>
            <th class="cPointer col-md-1">MSE</th>
            <th class="cPointer col-md-1">ROS</th>
            <th class="cPointer col-md-1">Subjective</th>
            <th class="cPointer col-md-1">Assessment</th>
            <th class="cPointer col-md-1">Plan</th>
            <th class="cPointer col-md-1">Coding</th>
            <th class="cPointer col-md-1">Reason for visit</th>
            <th class="cPointer col-md-1">Diagnosis</th>
        </tr>
        </thead>
        <tbody>
        <tr class="cPointer reveal-elem-parent" data-ng-repeat="permission in displayedNoteLockPermission">
            <td>
                <div class="pull-left width40p reveal-elem" >
                    <a href="" data-ng-if="permission.isLocked=='no'" class="glyphicon glyphicon-trash text-danger" data-ng-click="fnDeleteEventNoteLockPermission(permission)"></a>
                </div>
                <span data-ng-if="permission.isLocked=='yes'" class="glyphicon glyphicon-lock reveal-elem"></span>
                <a data-ng-if="permission.isLocked!='yes'" href="javascript:void(0)" class="fa fa-unlock reveal-elem" data-ng-click="$event.stopPropagation();lockPermission(permission)"
                   data-ng-keypress="lockPermission(permission)" tabindex="6"></a>
            </td>
            <td>
                <div class="input-group" style="width: 100%">
                    <oi-select data-ng-click="$event.stopPropagation();"
                               oi-options="item.name for item in allRoleList track by item.id"
                               ng-model="permission.roleId"
                               placeholder="Select" data-ng-change="fnSavePermission(permission,$index)"
                    ></oi-select>

                </div>
            </td>
            <td>
                <input type="checkbox" ng-model="permission.mse" data-ng-checked="permission.mse" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'mse')">
            </td>
            <td>
                <input type="checkbox" ng-model="permission.ros" data-ng-checked="permission.ros" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'ros')">
            </td>
            <td>
                <input type="checkbox" ng-model="permission.subjective" data-ng-checked="permission.subjective" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'subjective')">
            </td>
            <td>
                <input type="checkbox" ng-model="permission.assessment" data-ng-checked="permission.assessment" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'assessment')">
            </td>
            <td>
                <input type="checkbox" ng-model="permission.plan" data-ng-checked="permission.plan" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'plan')">
            </td>
            <td>
                <input type="checkbox" ng-model="permission.coding" data-ng-checked="permission.coding" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'coding')">
            </td>
            <td>
                <input type="checkbox" ng-model="permission.reason" data-ng-checked="permission.reason" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'reason')">
            </td>
            <td>
                <input type="checkbox" ng-model="permission.diagnosis" data-ng-checked="permission.diagnosis" data-ng-disabled="permission.roleId==null" data-ng-click="fnUpdatePermission(permission,'diagnosis')">
            </td>
        </tr>
        </tbody>
    </table>

 </div>