<style type="text/css">
    .chat {
        list-style: outside none none;
        margin: 0;
        padding: 0 10px 0 0;
        height: 60vh;
        overflow-y: scroll;
    }
    .chat-screen-therapy {

    }
    .chat-box-therapy {

    }
    .img-circle {
        height:155px;
        width:155px;
    }
    .pull-left-msg {
        padding: 10px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-right: 10%;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    }
    .pull-right-msg {
        padding: 10px;
        border-radius: 5px;
        background-color: #e0ecef;
        margin-left: 10%;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    }
    .pull-left-txt {
        color: #ff3333;
    }
    .pull-right-txt {
        color: #33bbff;
    }
    .input-area {
        height: 100px;
    }
    .chat-screen-therapy .panel-body {
        padding-bottom: 0;
        padding-right: 0;
    }
    .noresize {
        resize: none;
    }
    .active-anchor {
        background-color: #f2ffe5;
        font-weight: bold;
    }
    .active-anchor a {
        text-decoration: none;
    }
    tr a:hover {
        text-decoration: none;
    }
    #inactive-chat-window {
        color: #d94a26;
        font-size: 40px;
        margin-top: 100px;
    }
</style>


<!--<div class="col-md-12" ng-controller="therapistPatientsMasterCtrl">-->
<div class="col-md-12">
    <div class="col-md-3 text-center">
        <table class="table col-md-4">
            <thead>
            <tr>
                <th>Assigned Patients</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="patient in patientDetails" data-ng-class="{true:'active-anchor', false:''}[patient.uid==activePatientId]">
                <td>
                    <div class="input-group">
                        <a href="#"  style="cursor: pointer" ng-click="activeChatWindow(patient.uid, patient.unreadMsgCount, patient.fullname, therapistName)">{{patient.fullname}}</a>&nbsp;&nbsp;
                        <span style="color: #ffffff;" class="badge" data-ng-show="patient.unreadMsgCount > 0">{{patient.unreadMsgCount}}</span>
                    </div>
                </td>
            </tr>
            <tr style="background-color: #ff9999" data-ng-show="noOfPatients <= 0"><td>No patient assigned yet.</td></tr>
            </tbody>
        </table>
    </div>

    <div id="chatRooms" class="chat-screen-therapy col-md-9" data-ng-if="openChatWindow">

        <div  class="chat-box-therapy">
            <div class="panel panel-default" style="background-color: #f3f3f3;">
                <div id="accordion" class="panel-heading" style="background-color: #4aa1bb; color: #fff;"><span>Chat with {{receiverName}}</span></div>  <!--newMsg.receiverInfo.fullname  newMsg.senderInfo.fullname-->
                <div class="msg-content panel-collapse">
                    <div class="panel-body">
                        <ul class="chat" id="chatUl">

                            <li data-ng-repeat="chat in chatList">
                                <!--<span class="chat-img" data-ng-class="{'pull-right' : chat.ownMsg , 'pull-left' : !chat.ownMsg}" data-ng-if="chat.showPic">
                                    <img class="img-circle" alt="Avatar" data-ng-class="{'myself' : chat.ownMsg , 'urself' : !chat.ownMsg}" ng-src="{{chat.ownMsg?newMsg.senderImageUrl:newMsg.receiverImageUrl}}">
                                </span>-->
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font" data-ng-class="{'pull-right pull-right-txt' : chat.ownMsg , 'pull-left pull-left-txt' : !chat.ownMsg}">{{ chat.ownMsg? therapistName:receiverName  }}</strong>
                                    </div>
                                    <br style="clear:both;">
                                    <p data-ng-class="{'pull-right-msg' : chat.ownMsg , 'pull-left-msg' : !chat.ownMsg}" ng-bind-html="chat.msg"></p>
                                    <p><small class="text-muted" data-ng-class="{'pull-right' : chat.ownMsg , '' : !chat.ownMsg}"><!--newMsg.senderInfo.fullname-->
                                        <span class="glyphicon glyphicon-time"></span> {{chat.msgDt | date : "d MMM hh:mm a"}}
                                    </small></p>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div style="padding: 10px; border-top: 1px solid #ddd; background: #fff;">
                        <textarea  style="box-shadow: none; border: none; border-bottom: 1px solid #eee;" class="form-control noresize" placeholder="Write {{receiverName}} a message..."  rows="5" id="messageInput" ng-model="emojiMessage.message" data-ng-change="typingStatus(therapistName)"></textarea>
                        <!--style="box-shadow: none; border: none; border-bottom: 1px solid #eee;"   class="form-control noresize"   emoji-form emoji-message="emojiMessage"-->
                        <!--<button id="emojibtn">
                            <i class="icon icon-emoji"></i>
                        </button></div>-->
                        <div class="row">
                            <div class="col-md-6 text-left"><b>{{typingStat}}</b></div>
                            <div class="col-md-6 text-right" style="margin-top: 10px;">
                                <button data-ng-click="saveChatVal(emojiMessage)" class="btn" style="background: none; border: none; color: #069;"><strong>Send</strong> <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9" data-ng-if="!openChatWindow">
        <div id="inactive-chat-window" align="center">Please select a patient to chat.</div>
    </div>
</div>
