<!--<div ng-controller="fileTagListMasterCtrl" >-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>File Tag List &nbsp;
            <button class="btn btn-default themeLabel" data-ng-click="fnAddFileTagList()" type="button" title="Add File Tag List">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
     <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 25px !important;">
            <span>{{ masterData.messageVal }}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="textarea-initial" data-ng-if="masterData.listFileTag.length==0">Nothing found</div>
    <div class="col-md-12">
    <table data-ng-if="masterData.listFileTag.length>0" st-table="displayFileTagList" st-safe-src="masterData.listFileTag" class="table ng-scope">
        <thead>
        <tr>
            <th class="col-md-3" style="width:1%;"></th>
            <th class="col-md-3" style="padding-left: 4.5% !important;">Tag Name</th>
            <th class="col-md-3" style="padding-left: 5% !important;">Created On(Time Zone)</th>
            <th class="col-md-3" style="padding-left: 5% !important;">Created By</th>
        </tr>

        </thead>
        <tbody class="alternate-col">
        <tr class=" reveal-elem-parent" data-ng-repeat="fileTag in displayFileTagList" data-ng-class="{'warning':fileTag.tagID == null}">
            <td>
                <div class="pull-left width40p reveal-elem" data-ng-if="fileTag.noOfTimeUsed == 0">
                    <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-click="fnDeleteFileTag(fileTag.tagID, $index)" id="remove-ss"></a>
                </div>
            </td>
            <td class="col-md-4" style="padding-left: 5% !important;">

                <a class= "cPointer" href="javascript:void(0)" editable-text="fileTag.tagName" buttons="no" blur="submit" data-ng-model="fileTag.tagName"
                   onbeforesave="fnCheckFileTagList(fileTypeData, $data, 'Tag Name')"
                 onaftersave="fnSaveFileTagList(fileTag,  $index)" data-ng-keypress="fnSaveFileTagList(fileTag, $index)" >{{fileTag.tagName||'empty'}}</a>
            </td>

            <td class="col-md-4" style="padding-left: 5% !important;">
                <span data-ng-model="fileTag.createdOn"
                 onbeforesave=""
                 onaftersave=""

                   data-ng-keypress="" >
                    {{fileTag.createdOn }} {{fileTag.createdOnTimezone}}</span>
            </td>

             <td class="col-md-4" style="padding-left: 5% !important;">
                <span data-ng-model="fileTag.uidOfCreatedBy"
                 onbeforesave=""
                 onaftersave=""
                   data-ng-keypress="" >
                    {{fileTag.uidOfCreatedBy.uidOfCreatedBy}}</span>
            </td>
        </tr>

        
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="16" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
        </div>
</div>