<div>
    <div class="fLeft">     <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Savant care office locations
            <button class="btn btn-default themeLabel" data-ng-click="fnAddOfficeLocation()" type="button" title="Add New Office Location">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
    <div data-ng-if="msgObj.open">
        <div class="pannel-message-board alert" data-ng-class="msgObj.mclass" style="margin-bottom: 0px !important;">
            <span>{{ msgObj.text }}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="displayedOfficeLocations.length==0">No office location is entered. Click (+) to add one.</div>
    <table data-ng-if="displayedOfficeLocations.length>0" st-table="displayedOfficeLocations" st-safe-src="savedOfficeLocations" class="table table-striped">
        <thead>
        <tr>
            <th class="cPointer col-md-1"></th>
            <th class="cPointer col-md-1">Location name</th>
            <th class="cPointer col-md-2">Address line 1</th>
            <th class="cPointer col-md-2">Address line 2</th>
            <th class="cPointer col-md-1">City</th>
            <th class="cPointer col-md-1">State</th>
            <th class="cPointer col-md-1">Country</th>
            <th class="cPointer col-md-1">Zip</th>
            <th class="cPointer col-md-2">Label for appointment request page</th>
        </tr>
        </thead>
        <tbody>
            <tr class="cPointer reveal-elem-parent" data-ng-repeat="location in displayedOfficeLocations">
                <td>
                    <div class="pull-left width40p reveal-elem" >
                        <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-click="fnDeleteLocation(location,$index)"></a>
                    </div>
                </td>
                <td>
                    <a class= "cPointer" href="javascript:void(0)" editable-text="location.locationName" buttons="no" blur="submit" data-ng-model="location.locationName"
                       onaftersave="fnSaveLocation(location, $index)" data-ng-keypress="fnSaveLocation(location, $index)" >{{location.locationName||'empty'}}</a>
                </td>
                <td>
                    <a data-ng-if="location.locationID!=null" class= "cPointer" href="javascript:void(0)" editable-text="location.streetAddress " buttons="no" blur="submit" data-ng-model="location.streetAddress"
                       onaftersave="fnUpdateLocation(location, 'streetAddress', $index)" data-ng-keypress="fnUpdateLocation(location, 'streetAddress', $index)" >{{location.streetAddress||'empty'}}</a>
                </td>
                <td>
                    <a data-ng-if="location.locationID!=null" class= "cPointer" href="javascript:void(0)" editable-text="location.streetAddressLine2" buttons="no" blur="submit" data-ng-model="location.streetAddressLine2"
                       onaftersave="fnUpdateLocation(location,'streetAddressLine2', $index)" data-ng-keypress="fnUpdateLocation(location,'streetAddressLine2', $index)" >{{location.streetAddressLine2||'empty'}}</a>
                </td>
                <td>
                    <a data-ng-if="location.locationID!=null" class= "cPointer" href="javascript:void(0)" editable-text="location.city" buttons="no" blur="submit" data-ng-model="location.city"
                       onaftersave="fnUpdateLocation(location,'city', $index)" data-ng-keypress="fnUpdateLocation(location,'city', $index)" >{{location.city||'empty'}}</a>
                </td>
                <td>
                    <a data-ng-if="location.locationID!=null" class= "cPointer" href="javascript:void(0)" editable-text="location.state" buttons="no" blur="submit" data-ng-model="location.state"
                       onaftersave="fnUpdateLocation(location,'state', $index)" data-ng-keypress="fnUpdateLocation(location,'state', $index)" >{{location.state||'empty'}}</a>
                </td>
                <td>
                    <a data-ng-if="location.locationID!=null" class= "cPointer" href="javascript:void(0)" editable-text="location.country" buttons="no" blur="submit" data-ng-model="location.country"
                       onaftersave="fnUpdateLocation(location,'country', $index)" data-ng-keypress="fnUpdateLocation(location,'country', $index)" >{{location.country||'empty'}}</a>
                </td>
                <td>
                    <a data-ng-if="location.locationID!=null" class= "cPointer" href="javascript:void(0)" editable-text="location.zipAddress" buttons="no" blur="submit" data-ng-model="location.zipAddress"
                       onaftersave="fnUpdateLocation(location,'zipAddress', $index)" data-ng-keypress="fnUpdateLocation(location,'zipAddress', $index)" >{{location.zipAddress||'empty'}}</a>
                </td>
                <td>
                    <a data-ng-if="location.locationID!=null" class= "cPointer" href="javascript:void(0)" editable-text="location.labelToShowOnRequestAppointmentPage" buttons="no" blur="submit" data-ng-model="location.labelToShowOnRequestAppointmentPage"
                       onaftersave="fnUpdateLocation(location, 'labelToShowOnRequestAppointmentPage', $index)" data-ng-keypress="fnUpdateLocation(location, 'labelToShowOnRequestAppointmentPage', $index)" >{{location.labelToShowOnRequestAppointmentPage||'empty'}}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <div data-ng-if="savedOfficeLocations.length>0 && displayedAssetsWithLocation.length>0"><h3>Assign location for an asset entered.</h3></div>
    <table data-ng-if="savedOfficeLocations.length>0 && displayedAssetsWithLocation.length>0" st-table="displayedAssetsWithLocation" st-safe-src="savedAssetsWithLocation" class="table table-striped">
        <thead>
        <tr>
            <th class="cPointer col-md-4">Asset name</th>
            <th class="cPointer col-md-4">Location</th>
            <th class="cPointer col-md-4">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="cPointer reveal-elem-parent" data-ng-repeat="asset in displayedAssetsWithLocation">
            <td>
                <span>{{asset.name}}</span>
            </td>
            <td>
                <div class="input-group">
                    <a href="javascript:void(0)" editable-select="asset.locationID" buttons="no" e-ng-options="availableLocation.locationID as availableLocation.locationName for availableLocation in savedOfficeLocations"
                       buttons="no" blur="submit" onaftersave="fnAssignAssetToLocation(asset)" data-ng-keypress="fnAssignAssetToLocation(asset)">{{showLocationName(asset.locationID)}}</a>
                </div>

            </td>
            <td>
               <a href="javascript:void(0)" data-ng-click="asset.locationID=null;fnRemoveAssociation(asset,$index)">Clear location</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>