<!--<div ng-controller="medicationsMasterCtrl">-->
<div>
    <div  class="fLeft">
        <h3>Medication list&nbsp;
            <button class="btn btn-default themeLabel" ng-click="fnAddMedication()" type="button" title="Add new medication">
                <a class="glyphicon glyphicon-plus nopadding"></a>
            </button>
            <button class="btn btn-default themeLabel"  type="button"  title="Deleted activity log" data-ng-click="fnDeletedActivityStream()">
                <a href="" class="glyphicon glyphicon-link nopadding"  tabindex="10"></a>
            </button>
        </h3>

        <!-- start of showing deleted activitylog-->
        <div data-ng-if="activityLogIconForMedication == true" class="popover fade bottom in" style="margin-top: 63px; display: block; left: 90px; min-width: 1330px;">
            <div style="left: 181px;" class="arrow"></div>
            <div style="display: block; background: #FFFFFF" class="popover-content">
                <div class="textarea-initial" data-ng-if="medicationActivityLogData.length==0 && showMasterMedicationActivityLog">No activity log found</div>
                <table data-ng-if="showMasterMedicationActivityLog && medicationActivityLogData.length > 0" st-table="displayMedicationActivityLogCollection"  st-safe-src="medicationActivityLogData" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                        <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                        <th class="cPointer col-md-2 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                        <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                        <th class="cPointer col-md-2 sortable" st-sort="timeOfActivity"><span class="sorticon"></span>Time of activity</th>
                        <th class="col-md-7">Description</th>
                    </tr>
                    <tr>
                        <th><input st-search="clientIPAddressForActivity"/></th>
                        <th><input st-search="typeOfSection"/></th>
                        <th><input st-search="doneByUserFullName"/></th>
                        <th><input st-search="typeOfActivity"/></th>
                        <th>
                            <input st-search="timeOfActivity" data-ng-model="filterData.timeOfActivity" />
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="log in displayMedicationActivityLogCollection">

                        <td>
                            <div class="input-group">
                                <span>{{::log.clientIPAddressForActivity}}</span>
                            </div>
                        </td>

                        <td>
                            <div class="input-group">
                                <span>{{::log.typeOfSection}}</span>
                            </div>
                        </td>

                        <td>
                            <div class="input-group">
                                <span>{{::log.doneByUserFullName}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span>{{::log.typeOfActivity}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span>{{::log.timeOfActivity}}</span>
                                <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <div data-ng-if="log.typeOfActivity == 'delete'"> <span data-ng-if="log.newValue !=null">{{::log.newValue}}</span></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot ng-if = "medicationActivityLogData.length >10">
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- end of showing deleted activitylog-->
    </div>

    <div class="col-md-9" data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div>
    <br />
    <div class="textarea-initial" data-ng-if="masterData.medicationList.length==0">{{masterData.messageVal}}</div>
    <br />
    <div class="col-md-12 mTop20">
        <!-- start of showing meicine list in master medication in st Table -->
        <table data-ng-if="masterData.medicationList.length>0" st-table="displayMedicationList" st-safe-src="masterData.medicationList" class="table ">
            <thead>
            <tr >
                <th class="cPointer col-md-3 sortable padding-left-45p" st-sort="name"><span class="sorticon"></span>Name of medication</th>
                <th class="cPointer col-md-2 sortable" st-sort="brandOrGeneric"><span class="sorticon"></span>Brand or Generic</th>
                <th class="cPointer col-md-3 sortable" st-sort="strengths"><span class="sorticon"></span>Available strengths</th>
                <th class="cPointer col-md-3 sortable" st-sort="forms"><span class="sorticon"></span>Available forms</th>
                <th class="cPointer col-md-1 sortable" st-sort="noOfPatientsWithThisMed"><span class="sorticon"></span>No of patients with this med</th>
            </tr>
            <tr >
                <th class="padding-left-45p"><input st-search="name"/></th>
                <th><input st-search="brandOrGeneric"/></th>
                <th><input st-search="strengths.name"/></th>
                <th><input st-search="forms.name"/></th>
            </tr>
            </thead>
            <tbody class="alternate-col">
            <tr class="cPointer reveal-elem-parent" data-ng-repeat="medication in displayMedicationList"  data-ng-class="{'warning':medication.id == null}" >
                <!-- start of add medicine name column -->
                <td>
                    <div class="input-group editableInputSizeChange">
                        <div class="pull-left width40p" style="width: 50px !important;">
                            <a href="" class="glyphicon glyphicon-trash reveal-elem text-danger" data-ng-click="removeMedicine(medication)"></a>

                            <!-- start of showing activity log details for add,edit medicine details -->
                            <a href="" class="glyphicon glyphicon-link depressForSingelRowActivityLog" title="Activity log"
                               data-ng-class="{'reveal-elem':!medication.activityLogIconForEvent, 'depressedForActivityLog':medication.activityLogIconForEvent}"
                               data-ng-click="fnOpenActivityStreamForMasterMedication($index,medication)" tabindex="7">
                            </a>
                            <div data-ng-if="medication.activityLogIconForEvent == true" class="popover fade bottom in" style="margin-top: 33px; display: block; left: -10px; min-width: 1350px;">
                                <div style="left: 40px;" class="arrow"></div>
                                <div style="display: block; background: #FFFFFF" class="popover-content">
                                    <div class="textarea-initial" data-ng-if="eventsActivityLogDataForEvent.length==0 && showEventsActivityLogForEvent" style="background-color: #CFCFD0;">No activity log found</div>
                                    <table data-ng-if="showEventsActivityLogForEvent && eventsActivityLogDataForEvent.length > 0" st-table="displayMedicationActivityLogForEvent"  st-safe-src="eventsActivityLogDataForEvent" class="table table-striped">
                                        <thead>
                                        <tr >
                                            <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                                            <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                                            <th class="cPointer col-md-1 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                                            <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                                            <th class="cPointer col-md-1 sortable" st-sort="pluginFieldName"><span class="sorticon"></span>Field of activity</th>
                                            <th class="cPointer col-md-2 sortable" st-sort="timeOfActivityDateTimeFormat"><span class="sorticon"></span>Time of activity</th>
                                            <th class="col-md-6">Description</th>
                                        </tr>
                                        <tr>
                                            <th><input st-search="clientIPAddressForActivity"/></th>
                                            <th><input st-search="typeOfSection"/></th>
                                            <th><input st-search="doneByUserFullName"/></th>
                                            <th><input st-search="typeOfActivity"/></th>
                                            <th><input st-search="pluginFieldName"/></th>
                                            <th>
                                                <input st-search="timeOfActivityDateTimeFormat"/>
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody style="background-color: rgba(141, 144, 144, 0.19);">
                                        
                                        <tr data-ng-repeat="log in displayMedicationActivityLogForEvent">

                                            <td>
                                                <div class="input-group">
                                                    <span>{{::log.clientIPAddressForActivity}}</span>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="input-group">
                                                    <span>{{::log.typeOfSection}}</span>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="input-group">
                                                    <span>{{::log.doneByUserFullName}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span>{{::log.typeOfActivity}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span>{{::log.pluginRowNameWhereActivityIsDone}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span>{{::log.timeOfActivity}}</span>
                                                    <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">

                                                    <div data-ng-if="log.idOfEventOnWhichAcitivtyIsDone == medication.id ">
                                                        {{::log.newValue}}
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot ng-if = "eventsActivityLogDataForEvent.length>10" style="background-color: #BFBFBF;">
                                        <tr>
                                            <td colspan="7" class="text-center">
                                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <!-- end of showing activity log details for add,edit medicine details -->
                        </div>

                        <a href="javascript:void(0)" editable-text="medication.name" buttons="no" blur="submit" data-ng-model="dsmCodes.name" onbeforesave="checkMedicationName(medication, $data, 'Medication Name')" onaftersave="fnSaveMedication(medication,'name')" data-ng-keypress="fnSaveMedication(medication,'name')">{{medication.name||'empty'}}</a>
                    </div>
                </td>
                <!-- end of add medicine name column -->

                <!-- start of brand name column -->
                <td>
                    <a href="javascript:void(0)" editable-select="medication.brandOrGeneric" buttons="no" blur="submit" e-ng-options="type.brandOrGeneric as type.brandOrGeneric for type in medicineType" onaftersave="fnSaveMedication(medication,'brand')" data-ng-keypress="fnSaveMedication(medication,'brand')">{{medication.brandOrGeneric || 'empty'}}</a>
                </td>
                <!-- end of add brand name column -->

                <!-- start of add strength column -->
                <td>
                    <oi-select  oi-options="item.name for item in masterData.medicationStrengthDataSet track by item.id" ng-model="medication.strengths" multiple placeholder="Select strength"  ng-change="fnSaveMedication(medication,'strengths')" oi-select-options="{newItem: true, newItemFn: ($event.which === 13)?fnSaveMedication(medication,'forms'):0}"></oi-select>
                </td>
                <!-- end of add strength column -->

                <!-- start of add form column-->
                <td>
                    <oi-select  oi-options="item.name for item in masterData.medicationFormDataSet track by item.id" ng-model="medication.forms" multiple placeholder="Select form"  ng-change="fnSaveMedication(medication,'forms')" oi-select-options="{newItem: true, newItemFn: ($event.which === 13)?fnSaveMedication(medication,'forms'):0}"></oi-select>
                </td>
                <!-- end of add form column -->

                <!-- start of no of patients with this med -->
                <td>
                    <span style="padding: 1px 22px;">{{medication.noOfPatientsWithThisMed || 0 }}</span>
                </td>
                <!-- end of no of patients with this med -->

            </tr>
            </tbody>

            <tfoot>
            <!-- start of footer for pagination-->
            <tr>
                <td colspan="3" class="text-center" style=" vertical-align: middle;color:#666;font-weight: bold;">
                    <div data-ng-show="paginationInfo.totalItemCount>0">Total <span style="color: #444;">{{paginationInfo.totalItemCount}}</span> medications.
                        Showing {{displayMedicationList.length}} medication<span data-ng-show="displayMedicationList.length>1">s</span>.
                        <div class="btn-group report-info">
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="25" ng-class="{'disabled':paginationInfo.totalItemCount<25}">25</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="50" ng-class="{'disabled':paginationInfo.totalItemCount<26}">50</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="100" ng-class="{'disabled':paginationInfo.totalItemCount<51}">100</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="200" ng-class="{'disabled':paginationInfo.totalItemCount<101}">200</label>
                        </div>
                    </div>
                    <div data-ng-show="paginationInfo.totalItemCount==0">
                        No medication found to show.
                    </div>
                </td>
                <td colspan="2" class="text-center">
                    <div data-st-pagination="" data-st-items-by-page="itemsByPage" data-st-template="directives/pagination.custom.html"></div>
                </td>
            </tr>
            <!-- end of footer for pagination-->
            </tfoot>
        </table>
        <!-- end of showing meicine list in master medication in st Table -->
    </div>
</div>