<!--<div ng-controller="usersMasterCtrl">-->
<div>
    <div data-ng-if="forAddNewUser == false">
        <div class="fLeft">
            <h3>
                Manage GUI features &nbsp;
                <button class="btn btn-default themeLabel" data-ng-click="fnAddNewConflictCode()" type="button" title="Manage GUI features">
                    <i class="glyphicon glyphicon-plus nopadding"></i>
                </button>
                <!--activity log for screens -->
                <button class="btn btn-default themeLabel"  type="button"  title="Deleted activity log" data-ng-click="fnDeletedActivityStream()">
                    <a href="" class="glyphicon glyphicon-link nopadding"  tabindex="10"></a>
                </button>
            </h3>
            <!-- start of showing deleted activitylog-->
            <div data-ng-if="activityLogIconForConflictingCodes == true" class="popover fade bottom in" style="margin-top: 63px; display: block; left: 90px; min-width: 1330px;">
                <div style="left:  424px;" class="arrow"></div>
                <div style="display: block; background: #FFFFFF" class="popover-content">

                <div class="textarea-initial" data-ng-if="!showEventsCodeActivityLogLoading">Loading data ..</div>

                <div class="textarea-initial" data-ng-if="codesActivityLogDataForEvent.length==0 && showEventsCodeActivityLogForEvent">No activity log found</div>
                   
                    <table data-ng-if="showEventsCodeActivityLogForEvent && codesActivityLogDataForEvent.length > 0" st-table="displayCodeActivityLogCollection"  st-safe-src="codesActivityLogDataForEvent" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                            <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                            <th class="cPointer col-md-2 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                            <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                            <th class="cPointer col-md-2 sortable" st-sort="timeOfActivity"><span class="sorticon"></span>Time of activity</th>
                            <th class="col-md-7">Description</th>
                        </tr>
                        <tr>
                            <th><input st-search="clientIPAddressForActivity"/></th>
                            <th><input st-search="typeOfSection"/></th>
                            <th><input st-search="doneByUserFullName"/></th>
                            <th><input st-search="typeOfActivity"/></th>
                            <th>
                                <input st-search="timeOfActivity" data-ng-model="filterData.timeOfActivity" />
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="log in displayCodeActivityLogCollection">

                            <td>
                                <div class="input-group">
                                    <span>{{::log.clientIPAddressForActivity}}</span>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <span>{{::log.typeOfSection}}</span>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <span>{{::log.doneByUserFullName}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span>{{::log.typeOfActivity}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span>{{::log.timeOfActivity}}</span>
                                    <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div data-ng-if="log.typeOfActivity == 'delete'"> <span data-ng-if="log.newValue !=null">{{::log.oldValue}}</span></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot ng-if = "medicationActivityLogData.length >10">
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- end of showing deleted activitylog-->
        </div>
        <div  data-ng-if="msgObj.msg.open">
            <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
                <span>{{ msgObj.msg.text }}</span>
            </div>
        </div>
        <div class="pannel-message-board mTop20" data-ng-if="showErrorMessage">
            <span class="alert-danger">{{errorMessage}}</span>&nbsp;&nbsp;
            <span><a href="" data-ng-click="fnShowHideErrorDetail()">Hide detail</a></span>
        </div>
        <div class="clearfix"></div>
        <div class="textarea-initial" data-ng-if="guiFeaturesSet.length == 0">{{masterData.messageVal}}</div>
        <table data-ng-if="guiFeaturesSet.length>0" st-table="displayGuiFeaturesSetCollection" st-safe-src="guiFeaturesSet" class="table table-striped">
            <thead>
               <tr>
                   <th class="cPointer col-md-2 sortable" st-sort="code" style="padding-left: 40px;"><span class="sorticon"></span>Panel</th>
                   <th class="cPointer col-md-1 sortable" st-sort="conflictCode"><span class="sorticon"></span>Feature</th>
                   <th class="cPointer col-md-1 sortable" ><span class="sorticon"></span>Status</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Enabled by</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Disabled by</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Created on</th>
                   <th class="cPointer col-md-2 sortable" ><span class="sorticon"></span>Updated on</th>
               </tr>
            </thead>
            <tbody>

               <tr class="reveal-elem-parent" data-ng-repeat="row in displayGuiFeaturesSetCollection" data-ng-class="{'warning':row.id == null}">

                   <td>
                       <div class="input-group">
                           <div class="fLeft" style="width:45px !important;">
                               <a href="" class="glyphicon glyphicon-trash reveal-elem text-danger" data-ng-click="removeConflictCodes(row)"></a>
                               <!-- start of showing activity log details for add,edit conflict codes details -->
                               <a href="" class="glyphicon glyphicon-link reveal-elem depressForSingelRowActivityLog" title="Activity log"
                                  data-ng-class="{'reveal-elem':!row.activityLogIconForEvent, 'depressedForActivityLog':row.activityLogIconForEvent}"
                                  data-ng-click="fnOpenActivityStreamForMasterConflictCodes($index,row)" tabindex="7">
                               </a>
                               <div data-ng-if="row.activityLogIconForEvent == true" class="popover fade bottom in" style="margin-top: 33px; display: block; left: -10px; min-width: 1350px;">
                                   <div style="left: 40px;" class="arrow"></div>
                                   <div style="display: block; background: #FFFFFF" class="popover-content">
                                   <div class="textarea-initial" data-ng-if="!showEventsCodeActivityForEventLogLoading" style="background-color: #CFCFD0;">Loading...
                                   </div>

                                       <div class="textarea-initial" data-ng-if="eventsActivityLogDataForEvent.length==0 && showEventsActivityLogForEvent " style="background-color: #CFCFD0;">No activity log found</div>
                                       <table data-ng-if="showEventsActivityLogForEvent && eventsActivityLogDataForEvent.length > 0" st-table="displayConflictingCodeActivityLogForEvent"  st-safe-src="eventsActivityLogDataForEvent" class="table table-striped">
                                           <thead>
                                           <tr >
                                               <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                                               <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                                               <th class="cPointer col-md-1 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                                               <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                                               <th class="cPointer col-md-1 sortable" st-sort="pluginFieldName"><span class="sorticon"></span>Field of activity</th>
                                               <th class="cPointer col-md-2 sortable" st-sort="timeOfActivityDateTimeFormat"><span class="sorticon"></span>Time of activity</th>
                                               <th class="col-md-6">Description</th>
                                           </tr>
                                           <tr>
                                               <th><input st-search="clientIPAddressForActivity"/></th>
                                               <th><input st-search="typeOfSection"/></th>
                                               <th><input st-search="doneByUserFullName"/></th>
                                               <th><input st-search="typeOfActivity"/></th>
                                               <th><input st-search="pluginFieldName"/></th>
                                               <th>
                                                   <input st-search="timeOfActivityDateTimeFormat"/>
                                               </th>
                                               <th></th>
                                           </tr>
                                           </thead>
                                           <tbody style="background-color: rgba(141, 144, 144, 0.19);">

                                           <tr data-ng-repeat="log in displayConflictingCodeActivityLogForEvent">

                                               <td>
                                                   <div class="input-group">
                                                       <span>{{::log.clientIPAddressForActivity}}</span>
                                                   </div>
                                               </td>

                                               <td>
                                                   <div class="input-group">
                                                       <span>{{::log.typeOfSection}}</span>
                                                   </div>
                                               </td>

                                               <td>
                                                   <div class="input-group">
                                                       <span>{{::log.doneByUserFullName}}</span>
                                                   </div>
                                               </td>
                                               <td>
                                                   <div class="input-group">
                                                       <span>{{::log.typeOfActivity}}</span>
                                                   </div>
                                               </td>
                                               <td>
                                                   <div class="input-group">
                                                       <span>{{::log.pluginRowNameWhereActivityIsDone}}</span>
                                                   </div>
                                               </td>
                                               <td>
                                                   <div class="input-group">
                                                       <span>{{::log.timeOfActivity}}</span>
                                                       <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                                                   </div>
                                               </td>
                                               <td>
                                                   <div class="input-group">

                                                       <div data-ng-if="log.idOfEventOnWhichAcitivtyIsDone == row.id ">
                                                           {{::log.finalValue}}
                                                       </div>

                                                   </div>
                                               </td>
                                           </tr>
                                           </tbody>
                                           <tfoot ng-if = "eventsActivityLogDataForEvent.length>10" style="background-color: #BFBFBF;">
                                           <tr>
                                               <td colspan="7" class="text-center">
                                                   <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                                               </td>
                                           </tr>
                                           </tfoot>
                                       </table>

                                   </div>
                               </div>
                               <!-- end of showing activity log details for add,edit medicine details -->
                           </div>
                           <span editable-select="row.panelName" buttons="no" buttons="no" blur="submit" onaftersave="saveChange(row, 'code')" data-ng-keypress="saveChange(row)">{{row.panelName || 'empty'}}</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span  ng-click="saveChange(row, 'codeThatConflict')" >{{row.feature}}</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span class="btn btn-danger btn-xs" data-ng-if="row.status == 'no'" data-ng-click="fnShowHideApp(row,'yes')">Disabled</span> 
                           <span class="btn btn-success btn-xs" data-ng-if="row.status == 'yes'" data-ng-click="fnShowHideApp(row,'no')">Enabled</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span href="javascript:void(0)"  buttons="no" blur="submit" >{{row.enabledBy ||'empty'}}</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span href="javascript:void(0)"  buttons="no" blur="submit" >{{row.disabledBy ||'empty'}}</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span href="javascript:void(0)"  buttons="no" blur="submit" >{{row.createdOn||'empty'}}</span>
                       </div>
                   </td>
                   <td>
                       <div class="input-group">
                           <span href="javascript:void(0)"  buttons="no" blur="submit" >{{row.updatedOn||'empty'}}</span>
                       </div>
                   </td>
               </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center" style=" vertical-align: middle;color:#666;font-weight: bold;">
                       <div data-ng-show="paginationInfo.totalItemCount>0">Total <span style="color: #444;">{{paginationInfo.totalItemCount}}</span> conflict code<span data-ng-show="paginationInfo.totalItemCount>1">s</span>.
                            Show
                            <div class="btn-group report-info">
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="25" ng-class="{'disabled':paginationInfo.totalItemCount<26}">25</label>
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="50" ng-class="{'disabled':paginationInfo.totalItemCount<51}">50</label>
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="100" ng-class="{'disabled':paginationInfo.totalItemCount<101}">100</label>
                                <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="200" ng-class="{'disabled':paginationInfo.totalItemCount<201}">200</label>
                            </div>
                           app per page.
                        </div>
                        <div data-ng-show="paginationInfo.totalItemCount==0">
                            No conflict code found to show.
                        </div>
                    </td>
                    <td colspan="3" class="text-center">
                        <div data-st-pagination="" data-current-page="currentPage" data-st-items-by-page="itemsByPage" data-st-template="directives/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>