<!--<div ng-controller="googleCalenderSettingsMasterCtrl" >-->
<div >
    <div>     <!-- No grid classes are necessary for full-width elements. Ref: http://getbootstrap.com/examples/grid/-->
        <h3 class="fLeft">Google Calendar Setting
        <span style="padding-top: 27px;">
            <span data-ng-if="refreshData == true" style="padding-left: 5px; font-size: medium;">
                <a class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></a>
            </span>
            <span data-ng-if="refreshData == false" style="padding-left: 5px; font-size: medium;">
                <a class="glyphicon glyphicon-refresh" data-ng-click="fnRefreshDataList()" title="Refresh"></a>
            </span>
            <span data-ng-if="msgObj.msg.open" style="padding-top: 6px; font-size: medium;"> <!-- data-ng-if="msgObj.msg.open" -->
                <span class="alert-success" style="margin-left: 20px;margin-top: -27px;" data-ng-class="msgObj.msg.mclass">
                    <span>{{ msgObj.msg.text }}</span>
                </span>
            </span>
        </span>
        </h3>
    </div>
    <div data-ng-show="lodingMessageBysocket" class="lodingBysocket">
        Loading...
    </div>
    <br>
    <div data-ng-if="!displayGoogleCalenderSettingListCollection" class="textarea-initial" style="margin-top: 50px;">
        <span>Loading...</span>
        <!--<span data-ng-if="!objLoad.watchIncomingNotification && objLoad.api">Checking to watch incoming notifications from google ...</span>-->
    </div>
    <div data-ng-if="displayGoogleCalenderSettingListCollection.length==0" class="textarea-initial" >Nothing found</div>
    <table data-ng-if="googleCalenderSettingDataSet.length>0" st-table="displayGoogleCalenderSettingListCollection" st-safe-src="googleCalenderSettingDataSet" class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="cPointer sortable" st-sort="name"><span class="sorticon"></span>Doctor or therapists name</th><!-- padding-left-45p -->
            <th class="cPointer sortable" st-sort="emailAddress"><span class="sorticon"></span>Email Address</th>
            <th class="cPointer sortable" st-sort="userRoleName"><span class="sorticon"></span>Role type</th>
            <th class="cPointer" ><span st-sort="googleCalendarID" class="sorticon sortable"></span>Google Calendar Id
                <a data-ng-click="googleCalendarIdFiend('open')" class="glyphicon glyphicon-info-sign nopadding"></a>
            </th>
            <th class="cPointer sortable" st-sort="resourceId"><span class="sorticon"></span>Resource Id</th>
            <th class="cPointer sortable" st-sort="sentDataToGoogleCalender"><span class="sorticon"></span>Send Data To Google Calendar</th>
            <th class="cPointer sortable" st-sort="recieveDataFromGoogleCalender"><span class="sorticon"></span>Act on data received from google Calendar</th>
            <th class="cPointer sortable" st-sort="watchReset"><span class="sorticon"></span>Reset watch to receive incoming notifications from google</th>
            <th class="cPointer sortable" st-sort="lastReceiveNotification"><span class="sorticon"></span>Last notification received from google</th>
            <th class="cPointer sortable" st-sort="watchSetOn"><span class="sorticon"></span>Watch set on</th>
            <th class="cPointer sortable" st-sort="watchExpiringOn"><span class="sorticon"></span>Watch expiring on</th>
            <th class="cPointer sortable" st-sort="sentNotification"><span class="sorticon"></span>Number of notifications sent to google in last 24 hours</th>
            <th class="cPointer sortable" st-sort="receiveNotification"><span class="sorticon"></span>Number of notifications received from google in last 24 hours</th>
        </tr>
        <tr>
            <th class=""><input st-search="doctorName"/></th>
            <th class=""><input st-search="emailAddress"/></th>
            <th class=""><input st-search="userRoleName"/></th>
        </tr>
        </thead>
        <tbody>
        <tr class="cPointer reveal-elem-parent" data-ng-repeat="googleCalenderSetting in displayGoogleCalenderSettingListCollection">
            <td>
                {{googleCalenderSetting.doctorName}}
            </td>
            <td>
                {{googleCalenderSetting.emailAddress}}
            </td>
            <td>
                {{googleCalenderSetting.userRoleName}}
            </td>
            <td class="cDefault">
                <div class="input-group">
                    <a href="javascript:void(0)" class="cPointer" editable-text="googleCalenderSetting.googleCalendarID" e-style="width:500px" buttons="no" blur="submit" data-ng-model="googleCalenderSetting.googleCalendarID" onaftersave="fnSaveGoogleCalenderSetting(googleCalenderSetting, 'googleCalendarID')" data-ng-keypress="fnSaveGoogleCalenderSetting(googleCalenderSetting, 'googleCalendarID')">{{googleCalenderSetting.googleCalendarID||'empty'}}</a>
                </div>
            </td>
            <td>
                {{googleCalenderSetting.resourceId}}
            </td>
            <td class="padding-left-45p">
                <a class="btn btn-success btn-xs cPointer" data-ng-if="googleCalenderSetting.sentDataToGoogleCalender == 'yes'" data-ng-click="fnSaveGoogleCalenderSetting(googleCalenderSetting, 'sentDataToGoogleCalender')">Yes</a>
                <a class="btn btn-danger btn-xs cPointer" data-ng-if="googleCalenderSetting.sentDataToGoogleCalender == 'no'" data-ng-click="fnSaveGoogleCalenderSetting(googleCalenderSetting, 'sentDataToGoogleCalender')">No</a>
            </td>
            <td class="padding-left-45p">
                <a class="btn btn-success btn-xs cPointer ng-binding ng-scope" data-ng-if="googleCalenderSetting.recieveDataFromGoogleCalender == 'yes'" data-ng-click="fnSaveGoogleCalenderSetting(googleCalenderSetting, 'recieveDataFromGoogleCalender')">Yes</a>
                <a class="btn btn-danger btn-xs cPointer ng-binding ng-scope" data-ng-if="googleCalenderSetting.recieveDataFromGoogleCalender == 'no'" data-ng-click="fnSaveGoogleCalenderSetting(googleCalenderSetting, 'recieveDataFromGoogleCalender')">No</a>
            </td>
            <td>
                <a class="btn btn-danger btn-xs cPointer" data-ng-class="{'disabled':googleCalenderSetting.disabledWatchBtn}" data-ng-click="actWatch(googleCalenderSetting, $index)">{{googleCalenderSetting.watchBtnText}}</a>
            </td>
            <td>
                {{googleCalenderSetting.lastReceiveNotification}}
            </td>
            <td>
                {{googleCalenderSetting.watchSetOn}}
            </td>
            <td>
                {{googleCalenderSetting.watchExpiringOn}}
            </td>
            <td>
                {{googleCalenderSetting.sentNotification}}
            </td>
            <td>
                {{googleCalenderSetting.receiveNotification}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="13" class="text-center">
                <div st-pagination="" st-items-by-page="100" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
