<style>
    .modal-header {
        background-color: #5cb85c;
        color:white !important;
        text-align: center;
        font-size: 22px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
    .modal-size-90 {
        width: 50%;
    }
</style>
<div class="modal-header" style="padding:3px">
        <button type="button" class="close" data-ng-click="googleCalendarIdFiend('close')">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Fiend Google Calendar Id.</h4>
</div>
<div class="modal-body" style="padding:0px 0px 0px 0px">
    <!--<div>
        <img src="images/googleCalendarId.png" style="width: 100%;">
    </div>-->
    <div class="article-body">
    <ol>
    <li dir="ltr">
    <p dir="ltr">Go to&nbsp;<a href="http://calendar.google.com/">http://calendar.google.com/</a>&nbsp;and login to your<strong>&nbsp;Google Calendar account</strong>.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Click the dropdown next to the calendar name. <br><img src="images/getCalendarID.png" alt="" width="90%"></p>
    </li>
    <li dir="ltr">
    <p dir="ltr">View the “<strong>Calendar ID</strong>” . <br><img src="images/getCalendarID2.png" alt="" width="90%"></p>
    </li>
    </ol>
    </div>
</div>