<div>
    <div class="fLeft">     <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Define dependencies between Event Types
            <button class="btn btn-default themeLabel" data-ng-click="fnAddEventTypeDependency()" type="button" title="Add New Dependency">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> These dependencies are applicable vice-versa. Two events of types having dependency between themselves cannot be created on same or overlapping time slots .
        </div>
    </div>
    <div data-ng-if="msgObj.open" class="fRight">
        <div class="pannel-message-board alert" data-ng-class="msgObj.mclass" style="margin-bottom: 0px !important;">
            <span>{{ msgObj.text }}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="eventTypeDependencySet.length==0">No dependency added. Click (+) to add one.</div>
    <table data-ng-if="eventTypeDependencySet.length>0" st-table="displayEventTypeDependencyList" st-safe-src="eventTypeDependencySet" class="table table-striped">
        <thead>
        <tr>
            <th class="cPointer col-md-3">Event Type</th>
            <th class="cPointer col-md-3">Dependant Event Type</th>
            <th class="cPointer col-md-2">Added By</th>
            <th class="cPointer col-md-2">Added On</th>
            <th class="cPointer col-md-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="cPointer reveal-elem-parent" data-ng-repeat="eventType in displayEventTypeDependencyList">
            <td>
                <oi-select data-ng-click="$event.stopPropagation();"
                           oi-options="item.name for item in eventTypesDataSet track by item.id"
                           ng-model="eventType.eventTypeId"
                           placeholder="Select"
                ></oi-select>
            </td>
            <td>
                <oi-select data-ng-click="$event.stopPropagation();"
                           oi-options="item.name for item in eventTypesDataSet track by item.id"
                           ng-model="eventType.dependantEventType"
                           placeholder="Select"
                ></oi-select>
            </td>
            <td>{{eventType.dependencyAddedBy}}</td>
            <td>{{eventType.dependencyAddedOn}} <i data-ng-if="eventType.dependencyAddedTimezone!=null">({{eventType.dependencyAddedTimezone}})</i></td>
            <td>
                <button class="btn btn-success" data-ng-click="fnSaveDependency(eventType,$index)">Save</button>
                <button class="btn btn-danger" data-ng-click="fnRemoveDependency(eventType,$index)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>

 </div>