<!--<div ng-controller="cptCodesMasterCtrl">-->
<div>
    <div class="fLeft"> <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Cpt Codes list&nbsp;
            <button class="btn btn-default themeLabel" ng-click="fnAddCptCodes()" type="button" title="Add Cpt Codes">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div> 
    <div class="clearfix"></div>  
    <div class="textarea-initial" data-ng-if="cptCodesDataSet.length==0">{{masterData.messageVal}}</div>
    <table data-ng-if="cptCodesDataSet.length>0" st-table="displayCptCodesListCollection" st-safe-src="cptCodesDataSet" class="table table-striped">
        <thead>
           <tr>                                                                                              
               <th style="min-width: 200px;" rowspan="2" class="cPointer sortable padding-left-45p" st-sort="name"><span class="sorticon"></span>Name</th>
               <th style="min-width: 350px;" rowspan="2" class="cPointer sortable" st-sort="description"><span class="sorticon"></span>Description</th>
               <th style="min-width: 200px;" rowspan="2" class="cPointer sortable" st-sort="allowUserToLockFromCodingPanel"><span class="sorticon"></span>Allow user to lock from Coding Panel</th> 
               <th style="min-width: 200px;" rowspan="2" class="cPointer sortable" st-sort="allowUserToLockFromCodingPanel"><span class="sorticon"></span>This code is allowed to be used as custom code</th>
               <th style="min-width: 200px;" rowspan="2" class="cPointer sortable" st-sort="createdBy"><span class="sorticon"></span>Created by</th>
               <th style="min-width: 200px;" rowspan="2" class="cPointer sortable" st-sort="createdAt"><span class="sorticon"></span>Created on</th>
               <th colspan="{{docList.length+1}}" class="cPointer text-center" style="border-bottom: 0px;">Number of times this CPT code has been used</th>
           </tr> 
           <tr>
               <th style="min-width: 170px;" class="cPointer text-center"></span>Total</th>
               <th style="min-width: 170px;" class="cPointer text-center" data-ng-if="docList.length>0" data-ng-repeat="docObj in docList" class="cPointer">{{docObj.name}}</th>
           </tr> 
           <tr>
                <th class="padding-left-45p"><input st-search="name"/></th>
                <th><input st-search="description"/></th>
           </tr>   
        </thead>
        <tbody>
           <tr class="cPointer reveal-elem-parent" data-ng-repeat="cptCodes in displayCptCodesListCollection"> 
               <td>
                    <div class="input-group pull-left width40p reveal-elem" >
                        <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-if="cptCodes.isCptCodeLocked == 'No' && (cptCodes.useCount.total==0 || cptCodes.id==null)" data-ng-click="fnDeleteCptCodes(cptCodes)"></a>
                        <span class="glyphicon glyphicon-lock" data-ng-if="cptCodes.isCptCodeLocked == 'Yes'" data-ng-click="fnLockOrUnlockCptCode(cptCodes,'No')"></span>
                        <a href="" class="fa fa-unlock-alt" data-ng-if="cptCodes.isCptCodeLocked == 'No' && cptCodes.id!=null" data-ng-click="fnLockOrUnlockCptCode(cptCodes,'Yes')"></a>
                    </div>
                    <div class="pull-left" style="width:45%" >
                        <a href="javascript:void(0)" data-ng-if="cptCodes.isCptCodeLocked == 'No'" editable-text="cptCodes.name" buttons="no" blur="submit" data-ng-model="cptCodes.name" onkeypress="fnSaveCptCodes(cptCodes,$index)" onaftersave="fnSaveCptCodes(cptCodes,$index)">{{cptCodes.name||'empty'}}</a>
                        <span data-ng-if="cptCodes.isCptCodeLocked == 'Yes'">{{cptCodes.name}}</span>
                    </div>
               </td>  
               <td>
                    <div class="input-group">
                        <a href="javascript:void(0)" data-ng-if="cptCodes.isCptCodeLocked == 'No'" editable-text="cptCodes.description" buttons="no" blur="submit" data-ng-model="cptCodes.description" onkeypress="fnSaveCptCodes(cptCodes,$index)" onaftersave="fnSaveCptCodes(cptCodes,$index)">{{cptCodes.description||'empty'}}</a>
                        <span data-ng-if="cptCodes.isCptCodeLocked == 'Yes'">{{cptCodes.description||'empty'}}</span>
                    </div>
               </td>
               <td>
                     <a class="btn btn-danger btn-xs cPointer" data-ng-if="cptCodes.allowUserToLockFromCodingPanel == 'No'" data-ng-click="fnSaveCptCodes(cptCodes,$index,'allowUserToLockFromCodingPanel','Yes')">{{cptCodes.allowUserToLockFromCodingPanel}}</a>  
                     <a class="btn btn-success btn-xs cPointer" data-ng-if="cptCodes.allowUserToLockFromCodingPanel == 'Yes'" data-ng-click="fnSaveCptCodes(cptCodes,$index,'allowUserToLockFromCodingPanel','No')">{{cptCodes.allowUserToLockFromCodingPanel}}</a>  
               </td>
               <td>
                   <a class="btn btn-danger btn-xs cPointer" data-ng-if="cptCodes.allowCustomCodesForCoding == 'No'" data-ng-click="fnSaveCptCodes(cptCodes,$index,'allowCustomCodesForCoding','Yes')">{{cptCodes.allowCustomCodesForCoding}}</a>
                   <a class="btn btn-success btn-xs cPointer" data-ng-if="cptCodes.allowCustomCodesForCoding == 'Yes'" data-ng-click="fnSaveCptCodes(cptCodes,$index,'allowCustomCodesForCoding','No')">{{cptCodes.allowCustomCodesForCoding}}</a> </td>
               <td>{{cptCodes.createdBy||"--"}}</td>
               <td>{{cptCodes.createdAt||"--"}}</td>
               <td class="text-center" data-ng-repeat="docObj in cptCodes.useCount track by $index">{{docObj||"--"}}</td>
           </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{tableColumn.ceilVal}}" class="text-center" style=" vertical-align: middle;color:#666;font-weight: bold;">
                   <div data-ng-show="paginationInfo.totalItemCount>0">Total <span style="color: #444;">{{paginationInfo.totalItemCount}}</span> Cpt code<span data-ng-show="paginationInfo.totalItemCount>1">s</span>.
                        Showing {{displayCptCodesListCollection.length}} Cpt code<span data-ng-show="displayCptCodesListCollection.length>1">s</span>.
                        <div class="btn-group report-info">
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="25" ng-class="{'disabled':paginationInfo.totalItemCount<25}">25</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="50" ng-class="{'disabled':paginationInfo.totalItemCount<26}">50</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="100" ng-class="{'disabled':paginationInfo.totalItemCount<51}">100</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="200" ng-class="{'disabled':paginationInfo.totalItemCount<101}">200</label>
                        </div>
                    </div>
                    <div data-ng-show="paginationInfo.totalItemCount==0">
                        No Cpt code found to show.
                    </div>
                </td>
                <td colspan="{{tableColumn.floorVal}}" class="text-center">
                    <div data-st-pagination="" data-current-page="currentPage" data-st-items-by-page="itemsByPage" data-st-template="directives/pagination.custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>  
</div>
