/*body{padding:20px}*/
.error{color:red}input.ethAddress,input.ethTx,input.string{width:30em}.abi{display:block;width:100%;height:3em}.contractForm label{display:block}

input[type=text] {
    width: 500px;
    padding: 1px 1px;
    margin: 2px 0;
    border: none;
    font-size:20px;
}
.btn-c {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-inverse-hlt {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.navbar-inverse-hlt a {
    color: #9e9e9e !important;
}
.navbar-inverse-hlt a:hover {
    color: #504f4f !important;
}

.btn-primary-c {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary-c:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-success-c {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success-c:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-default-c {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default-c:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-danger-c {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger-c:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.smrt-input {
    border: 1px solid rgb(177, 177, 177) !important;
    font-size: 15px !important;
    width: 30% !important;
    color: #3c3b3a !important;
}
.dataTables_filter {
    width: 50%;
}
.dataTables_filter label {
    width: 100%;
    display: inline-flex;
}
.dataTables_filter input {
    height: 25px;
}
.success-print {
    border: 1px solid #30a965;
    background-color: #7cd2a2;
    border-radius: 5px;
    padding: 0px 8px;
    color: #ffffff;
    cursor: default;
}
.header {
    color: black;
    border-bottom: 1px solid #9e9e9e;
    text-shadow: 3px 3px 5px #777777;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
table.dataTable span.highlight {
  background-color: #FFFF88;
}
.cDefault {
    cursor: default;
}
.opacity-5 {
    opacity: 0.5;
}
.opacity-6 {
    opacity: 0.6;
}
.opacity-7 {
    opacity: 0.7;
}
.padding-r3 {
    padding-right: 3px;
}
.padding-r6 {
    padding-right: 6px;
}
a > input {
    color: #007bff;
}
a > input:hover {
    color: #0056b3;
}
.font-sm {
    font-size: small;
}

/*GitHub Icon class*/
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.header-logo-invertocat {
    margin: 0px 5px 0px 0px;
    color: #000;
    white-space: nowrap;
}
/*.canvasjs-chart-credit {
    display: none !important;
}*/
.pie-chart {
    background: url("../../style/pie-chart-xxl.png"); 
}
.cPointer {
    cursor: pointer;
}
.badge-success {
    background-color: #5cb85c;
}
.badge-info {
    background-color: #5bc0de;
}
.icon-st {
    font-size: 20px;
    color: grey;
}
.icon-st:hover {
    color: #557fff;
}
.logoIcon {
    margin-top: 5px !important;
    margin-right: 1px !important;
    margin-left: 16px !important;
}
.txt-c {
    text-align: center;
}
.txt-l {
    text-align: left;
}
.fnd-d {
    margin: 5px 0px 0px 0;
    /* color: white; */
}
#bodyPart {
    padding: 10px !important;
}
.fnd-div-1 {
    padding-left: 21% !important;
}
@media (max-width: 1480px) {
    .fnd-div-1 {
        padding-left: 20% !important;
    }
}
@media (max-width: 1380px) {
    .fnd-div-1 {
        padding-left: 17% !important;
    }
}
@media (max-width: 1300px) {
    .fnd-div-1 {
        padding-left: 15% !important;
    }
}
@media (max-width: 1280px) {
    .fnd-div-1 {
        padding-left: 10% !important;
    }
}
@media (max-width: 1180px) {
    .fnd-div-1 {
        padding-left: 7% !important;
    }
}
@media (max-width: 1130px) {
    .fnd-div-1 {
        padding-left: 4% !important;
    }
}
@media (max-width: 1090px) {
    .fnd-div-1 {
        padding-left: 2% !important;
    }
}

.fnd-div-2 {
    padding-left: 26% !important;
}
@media (max-width: 1480px) {
    .fnd-div-2 {
        padding-left: 25% !important;
    }
}
@media (max-width: 1380px) {
    .fnd-div-2 {
        padding-left: 23% !important;
    }
}
@media (max-width: 1300px) {
    .fnd-div-2 {
        padding-left: 22% !important;
    }
}
@media (max-width: 1280px) {
    .fnd-div-2 {
        padding-left: 21% !important;
    }
}
@media (max-width: 1180px) {
    .fnd-div-2 {
        padding-left: 20% !important;
    }
}
@media (max-width: 1130px) {
    .fnd-div-2 {
        padding-left: 18% !important;
    }
}
@media (max-width: 1090px) {
    .fnd-div-2 {
        padding-left: 14% !important;
    }
}
@media (max-width: 930px) {
    .fnd-div-2 {
        padding-left: 12% !important;
    }
}
@media (max-width: 850px) {
    .fnd-div-2 {
        padding-left: 8% !important;
    }
}
@media (max-width: 790px) {
    .fnd-div-2 {
        padding-left: 6% !important;
    }
}
@media (max-width: 750px) {
    .fnd-div-2 {
        padding-left: 4% !important;
    }
}
#dashboardForm table tr td {
    padding: 1px !important;
}
@media (max-width:1355px){
    #dashboardForm {
        width: 100%;
        margin: auto;
    }
}
.network-txt {
    text-align: left;
}
@media (max-width:767px){
    .network-txt {
        text-align: center;
    }
}
.btn-error {
    position:fixed;
    bottom: 0px;
    z-index: 999;
    width:100%;
    margin-bottom:0;
}
.alert-danger-hlt {
    color: #fdeeee;
    background-color: #ff6363;
    border-color: #d83c55;
}
.alert-success-hlt {
    color: #e0fbe4;
    background-color: #45ad60;
    border-color: #368a43;
}
.btn-error .err-msg .icon {
    font-size: 25px;
    padding-right: 10px;
}
.btn-error .err-msg .txt {
    font-size: 20px;
}
.btn-error .err-msg {
    width: 90%;
    float: left;
    padding: 11px 30px;
    border-right: 1px solid #fff;
}
.btn-error .cross {
    width: 10%;
    float: left;
    padding: 12px;
    text-align: center;
    border-left: 1px solid #fff;
}
.btn-error .cross .icon {
    cursor: pointer;
    font-size: 25px;
}
.fun-popover {
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;

    background: #000;
    color: white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
}
.fun-popover.bottom {
    margin-top: 10px;
}
.fun-popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    border-top-width: 0;
    border-bottom-color: #000;
}
.fun-popover>.arrow {
    border-width: 11px;
}
.fun-popover>.arrow, .fun-popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.fun-popover>.content {
    padding: 2px 10px;
    font-size: 14px;
}
.fun-popover>.title {
    padding: 3px 10px;
    margin: 0;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}
.ctrlPopover {
    cursor: pointer;
    color: #6ec169;
}