<!--<div ng-controller="appPermissionMasterCtrl" >-->
<div>

    <div class="clearfix"></div>

    <div class="col-md-12">

        <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
            <h3>App Permission  &nbsp;
                <button class="btn btn-default themeLabel" data-ng-click="fnAddAppPermission()" type="button" title="Add Designation">
                    <i class="glyphicon glyphicon-plus nopadding"></i>
                </button>
                <span data-ng-if="msgObj.msg.open"  class="pannel-message-board small pull-right" data-ng-class="msgObj.msg.mclass">
                    <span>{{ msgObj.msg.text }}</span>
                </span>
            </h3>
        </div>

        <table st-table="allPagesList" class="table table-striped">
            <thead>
            <tr>
                <th>App Url</th>
                <th>Group name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in allPagesList">
                <td>
                    <a href="#" editable-text="row.pageUrl" data-e-style="min-width:300px;"
                       buttons="no" blur="submit"
                       onaftersave="updatePageAccessData(row, $data, $index)" e-ng-required >
                        {{row.pageUrl || "-empty-"}}
                    </a>
                </td>
                <td>
                    <a href="#" editable-select="row.groupID" buttons="no" blur="submit" onaftersave="updatePageAccessData(row, $data, $index)" e-ng-options="s.groupID as s.group_name for s in pageAccessPointList">
                        {{ showPageAccessStatus(row.groupID)}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="clearfix"></div>


</div>




