<style>

    .select-page {
        width: 50px;
        text-align: center;
    }
    .pagination li a input {
        padding: 0;
        margin: -5px 0;
    }
    .pagination {
        margin : 0 0px !important;
    }
    .input-sm{

        padding:1px !important;
    }
</style>


<!--<div ui-view=""  class="container-fluid intakeContainerDiv " ng-app="emr" data-ng-controller="helpdeskMasterCtrl">-->
<div ui-view=""  class="container-fluid intakeContainerDiv ">

    <div class="alert alert-success" data-ng-show="msgForCreate">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{msgForCreate}}
    </div>

    <div class="alert alert-danger" data-ng-show="msgForError">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{msgForError}}
    </div>



    <div class="row">

        <div class="col-md-3 col-md-offset-3">
            <div>
                <a class="btn btn-info pull-right" ng-click="createType()"><i class="glyphicon glyphicon-plus-sign"></i>
                    Create type
                </a>
                <span><h4>All help type</h4></span></div><br>
            <div class="textarea-initial" data-ng-if="userDataSetType.length == 0">{{"No Result Found !!!"}}</div>

            <table  data-ng-if="userDataSetType.length>0" st-table="availableOptions" class="table table-bordered table-striped" st-safe-src="userDataSetType">
                <thead>
                <tr>

                    <th class="cPointer col-md-2" st-sort="typeName">Type</th>
                    <th class="cPointer col-md-1" >Action</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="typeName" placeholder="for type" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        &nbsp;
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in availableOptions">
                    <td>{{row.typeName}}</td>
                    <td>
                        <div class="text-center">
                            <button class="btn btn-danger" type="button" ng-click="deleteType(row.id)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>

                    <td colspan="12" class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                <span class="input-group-btn">
                <button class="btn btn-info" type="button">Items</button>
                </span>
                                    <input  class="input-sm form-control ng-pristine ng-valid ng-touched" style="height:34px;" type="number" ng-model="itemsByPage" name="items">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div st-items-by-page="itemsByPage" st-pagination="displayed" st-template="directives/pagination.custom.html"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-md-3">
            <div>
                <a class="btn btn-info pull-right" ng-click="createStatus()"><i class="glyphicon glyphicon-plus-sign"></i>
                    Create status
                </a>
                <span><h4>All help status</h4></span></div><br>
            <div class="textarea-initial" data-ng-if="userDataSetStatus.length == 0">{{"No Result Found !!!"}}</div>

            <table  data-ng-if="userDataSetStatus.length>0" st-table="availableOptions1" class="table table-bordered table-striped" st-safe-src="userDataSetStatus">
                <thead>
                <tr>
                    <th class="cPointer col-md-2" st-sort="statusName">Status</th>
                    <th class="cPointer col-md-2" st-sort="statusColor">Color code</th>
                    <th class="cPointer col-md-2" st-sort="statusColor"># of times used</th>
                    <th class="cPointer col-md-1" >Action</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="statusName" placeholder="for status" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="statusColor" placeholder="for color" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in availableOptions1">
                    <td>{{row.statusName}}</td>
                    <td>{{row.statusColor}}<button class="btn btn-warning pull-right" style="background:{{row.statusColor}}"></button></td>
                    <td>{{row.count}}</td>
                    <td>
                        <div class="text-center">
                                <button class="btn btn-danger" type="button" ng-click="deleteStatus(row.id)">
                                    Delete
                                </button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>

                    <td colspan="12" class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                <span class="input-group-btn">
                <button class="btn btn-info" type="button">Items</button>
                </span>
                                    <input  class="input-sm form-control ng-pristine ng-valid ng-touched" style="height:34px;" type="number" ng-model="itemsByPage" name="items">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div st-items-by-page="itemsByPage" st-pagination="displayed" st-template="directives/pagination.custom.html"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>





        <div class="container">


            <div class="modal fade" id="createTicket">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New Request</h4>
                        </div>
                        <div class="modal-body">



                            <form class="form-horizontal modal-body" name="userForm"  novalidate>




                                <div class="form-group" ng-class="{ 'has-error' : userForm.type.$invalid && !userForm.type.$pristine }">

                                    <label class="col-sm-3">Request Type <sup> *</sup></label>

                                    <div class="col-sm-6">
                                        <select name="type" class="form-control dropdown-select" data-style="btn-warning" ng-model="newHelpdesk.type" required>
                                            <option value="">[&#45;&#45; Select Type &#45;&#45;]</option>
                                            <option ng-repeat="option in availableOptions" value="{{option.id}}">{{option.typeName}}</option>
                                        </select>
                                        <!--<p ng-show="userForm.type.$invalid && !userForm.type.$pristine" class="help-block">Please select type.</p>-->

                                    </div>

                                </div>



                                <div class="form-group" ng-class="{ 'has-error' : userForm.title.$invalid && !userForm.title.$pristine }">
                                    <label class="col-sm-3">Title<sup> *</sup></label>

                                    <div class="col-sm-9">
                                        <input type="text" name="title" class="form-control" ng-model="newHelpdesk.title" required>
                                        <!--<p ng-show="userForm.title.$invalid && !userForm.title.$pristine" class="help-block">You Title is required.</p>-->
                                    </div>
                                </div>


                                <div class="form-group" ng-class="{ 'has-error' : userForm.description.$invalid && !userForm.description.$pristine }">
                                    <label class="col-sm-3">Description <sup> *</sup></label>
                                    <div class="col-sm-9">
                                        <textarea name="description" class="form-control" ng-model="newHelpdesk.description" ng-minlength="3" ng-maxlength="200" required>Enter text here...</textarea>
                                        <!--<p ng-show="userForm.description.$error.minlength" class="help-block">Description is too short.</p>
                                        <p ng-show="userForm.description.$error.maxlength" class="help-block">Description is too long.</p>-->
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" ng-click="submitForm(newHelpdesk)" ng-disabled="userForm.$invalid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="createType">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New Type</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal modal-body" name="typeForm"  novalidate>



                                <div class="form-group" ng-class="{ 'has-error' : typeForm.title.$invalid && !typeForm.title.$pristine }">
                                    <label class="col-sm-3">Type Name<sup> *</sup></label>

                                    <div class="col-sm-9">
                                        <input type="text" name="title" class="form-control" ng-model="newHelptype.title" required>
                                        <p ng-show="typeForm.title.$invalid && !typeForm.title.$pristine" class="help-block">You Type name is required.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" data-ng-click="submitTypeForm(newHelptype)" ng-disabled="typeForm.$invalid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="createTypeResponse">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New Pre-type Response</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal modal-body" name="pretypeForm"  novalidate>



                                <div class="form-group" ng-class="{ 'has-error' : pretypeForm.typetext.$invalid && !pretypeForm.typetext.$pristine }">
                                    <label class="col-sm-3">Pre-type text<sup> *</sup></label>

                                    <div class="col-sm-9">
                                        <!--<input type="text" name="typetext" class="form-control" ng-model="newTypeResponse.typetext" required>-->
                                        <textarea rows="4" cols="50" name="typetext" class="form-control" ng-model="newTypeResponse.typetext" required></textarea>

                                        <p ng-show="pretypeForm.typetext.$invalid && !pretypeForm.typetext.$pristine" class="help-block"><b>pre-type text</b> is required.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" data-ng-click="submitTypeResponseForm(newTypeResponse)" ng-disabled="pretypeForm.$invalid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="createStatus">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New Status</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal modal-body" name="statusForm"  novalidate>



                                <div class="form-group" ng-class="{ 'has-error' : statusForm.title.$invalid && !statusForm.title.$pristine }">
                                    <label class="col-sm-3">Title<sup> *</sup></label>

                                    <div class="col-sm-9">
                                        <input type="text" name="title" class="form-control" ng-model="newHelpstatus.title" required>
                                        <p ng-show="statusForm.title.$invalid && !statusForm.title.$pristine" class="help-block">You Title is required.</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : statusForm.title.$invalid && !statusForm.title.$pristine }">
                                    <label class="col-sm-3">Color<sup> *</sup></label>

                                    <div class="col-sm-9">
                                        <!--<input type="color" name="color" class="form-control" ng-model="newHelpstatus.color" required>-->
                                        <input name="color" color-picker color-picker-model="newHelpstatus.color" color-picker-show-value="false" ng-style="{background:newHelpstatus.color}" color-picker-show-cancel-button="true" color-picker-cancel-button-class="btn btn-danger" required/>
                                        <p ng-show="statusForm.color.$invalid && !statusForm.color.$pristine" class="help-block">You color code is required.</p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" ng-click="submitStatusForm(newHelpstatus)" ng-disabled="statusForm.$invalid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<br/>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
        <span><h5>Person to assign request to if a care team is not found for an incoming HDR</h5></span>
        <div class="input-group" ng-if="!isOpen">
            <span class="input-group-addon">User name</span>
            <div class="cPointer" >
          <span class="editable form-control" ng-click="changeOpenState(true);">
            {{defaultUser}}
          </span></div>
        </div>
        <div class="input-group" ng-if="isOpen">
            <span class="input-group-addon">Default User</span>
            <oi-select ng-if="isOpen"
                       oi-options="item.id as item.assignedto for item in availableOptions2"
                       data-ng-model="bundle"
                       tabindex="0" data-ng-change="updateDefaultUser(tktDetail, $index, bundle , 'default')" class="oiSelect">

            </oi-select>
            <span class="input-group-addon">
                    <i class="glyphicon glyphicon-remove-sign text-danger loaderMessage cPointer pull-right"  data-ng-click="changeOpenState(false);" title="cancel edit"></i>
            </span>

        </div>

        <!-- Feedback to cofounders coordinator-->

            <span><h5>Feedback to cofounders coordinator</h5></span>
            <div class="input-group" ng-if="!isOpenForFeedbackUser">
                <span class="input-group-addon">User name</span>
                <div class="cPointer" >
          <span class="editable form-control" ng-click="changeOpenStateForFeedbackUser(true);">
            {{feedbackDefaultUser}}
          </span></div>
            </div>
            <div class="input-group" ng-if="isOpenForFeedbackUser">
                <span class="input-group-addon">Coordinator</span>
                <oi-select ng-if="isOpenForFeedbackUser"
                           oi-options="item.id as item.assignedto for item in availableOptions2"
                           data-ng-model="bundle1"
                           tabindex="0" data-ng-change="updateDefaultUser(tktDetail, $index, bundle1 , 'coordinator')" class="oiSelect">

                </oi-select>
            <span class="input-group-addon">
                    <i class="glyphicon glyphicon-remove-sign text-danger loaderMessage cPointer pull-right"  data-ng-click="changeOpenStateForFeedbackUser(false);" title="cancel edit"></i>
            </span>

            </div>
    </div>
        <div class="col-md-3">
            <div>
                <a class="btn btn-info pull-right" ng-click="createTypeResponse()"><i class="glyphicon glyphicon-plus-sign"></i>
                    Create pre-typed responses
                </a>
                <span><h4>All pre-typed responses</h4></span></div><br>
            <div class="textarea-initial" data-ng-if="userDataSetPreType.length == 0">{{"No Result Found !!!"}}</div>

            <table  data-ng-if="userDataSetPreType.length>0" st-table="availableOptions4" class="table table-bordered table-striped" st-safe-src="userDataSetPreType">
                <thead>
                <tr>

                    <th class="cPointer col-md-2" st-sort="preTypeText">Pre-typed text</th>
                    <th class="cPointer col-md-1" >Action</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="preTypeText" placeholder="for pre-typed text" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        &nbsp;
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in availableOptions4">
                    <td>{{row.preTypeText}}</td>
                    <td>
                        <div class="text-center">
                            <button class="btn btn-danger" type="button" ng-click="deletePreTypeText(row.id)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>

                    <td colspan="12" class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                <span class="input-group-btn">
                <button class="btn btn-info" type="button">Items</button>
                </span>
                                    <input  class="input-sm form-control ng-pristine ng-valid ng-touched" style="height:34px;" type="number" ng-model="itemsByPage" name="items">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div st-items-by-page="itemsByPage" st-pagination="displayed" st-template="directives/pagination.custom.html"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        </div>
    </div>
</div>