
<!--<div ng-controller="cronReportManagementMasterCtrl" >-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3 style="cursor: default">Cron Reports Management List</h3>
    </div>
    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="cronReportManagementDataSet.length==0">{{masterData.messageVal}}</div>
    <table data-ng-if="cronReportManagementDataSet.length>0" st-table="displaycronReportManagementDataSet" st-safe-src="cronReportManagementDataSet" class="table table-striped">
        <thead>
           <tr>
               <th class="col-md-2 sortable" st-sort="scriptCommandName"><span class="cPointer"><span class="sorticon"></span>Name</span></th>
               <th class="col-md-4 sortable" st-sort="scriptDescription"><span class="cPointer"><span class="sorticon"></span>Description</span></th>
               <th class="col-md-1" style="cursor: default"></th>
               <th class="col-md-2" style="cursor: default">Scheduled frequency</th>
               <th class="col-md-2 sortable" st-sort="lastRunOn"><span class="cPointer"><span class="sorticon"></span>Last run on</span></th>
               <th class="col-md-2 sortable" st-sort="enableOrDisable"><span class="cPointer"><span class="sorticon"></span>Disable or Enable this script</span></th>
           </tr>
        </thead>
        <tbody>
           <tr class="reveal-elem-parent" data-ng-repeat="row in displaycronReportManagementDataSet">
               <td>
                    <div class="input-group">{{row.scriptCommandName||'empty'}}</div>
               </td>
               <td>
                    <div class="input-group">
                        <a href="javascript:void(0)" class="cPointer" editable-textarea="row.scriptDescription" e-style="width:500px" buttons="no" blur="submit" data-ng-model="row.scriptDescription" onaftersave="fnUpdate(row)" data-ng-keypress="fnUpdate(row)">{{row.scriptDescription||'empty'}}</a>
                    </div>
               </td>
               <td></td>
               <td>{{row.scheduledFrequency}}</td>
               <td>
                    <div class="input-group">{{row.lastRunOn||'---'}}</div>
               </td>
               <td>
                     <a class="btn btn-danger btn-xs cPointer" data-ng-if="row.enableOrDisable == 'No'" data-ng-click="fnEnableOrDisable(row, 'YES',$index)">Disable</a>  
                     <a class="btn btn-success btn-xs cPointer" data-ng-if="row.enableOrDisable == 'Yes'" data-ng-click="fnEnableOrDisable(row, 'NO',$index)">Enabled</a>  
               </td>
               
           </tr>
        </tbody>
        <tfoot>
          <tr>
                <td colspan="3" class="text-center">
                    <div data-ng-show="paginationInfo.totalItemCount>0"><span style="cursor: default">Total </span><span style="color: #444;">{{paginationInfo.totalItemCount}}</span><span style="cursor: default"> Cron Report</span><span data-ng-show="paginationInfo.totalItemCount>1" style="cursor: default">s</span><span style="cursor: default">.
                        Show </span>
                        <div class="btn-group report-info">
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="25" ng-class="{'disabled':paginationInfo.totalItemCount<26}">25</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="50" ng-class="{'disabled':paginationInfo.totalItemCount<51}">50</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="100" ng-class="{'disabled':paginationInfo.totalItemCount<101}">100</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="200" ng-class="{'disabled':paginationInfo.totalItemCount<201}">200</label>
                        </div>
                        <span style="cursor: default"> Cron Report per page. Current time on server is </span><span style="cursor: default">{{timeOnServer| date:"yyyy-MM-dd HH:mm:ss" : 'UTC'}} {{timeZoneUsedOnServer}}</span><span style="cursor: default">.</span>
                    </div>
                    <div data-ng-show="paginationInfo.totalItemCount==0">
                        <span style="cursor: default"> No Cron Report found to show. Current time on server is </span><span style="cursor: default">{{timeOnServer| date:"yyyy-MM-dd HH:mm:ss" : 'UTC'}} {{timeZoneUsedOnServer}}</span><span style="cursor: default">.</span>
                    </div>
                </td>
                <td colspan="3" class="text-center">
                    <div data-st-pagination="" data-current-page="currentPage" data-st-items-by-page="itemsByPage" data-st-template="directives/pagination.custom.html"></div>
                </td>
           </tr>
        </tfoot>
    </table>
</div>
