<!--<div ng-controller="userRoleMasterCtrl" >-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>User roles
            <button class="btn btn-default themeLabel" data-ng-click="fnAddUserRole()" type="button" title="Add User Role">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>

            <!--sitewidehelpIcon-->

            <button title="Help" type="button" class="btn btn-default buttontitlebar" style="background: #d8d8d8; box-shadow: inset 4px 3px 10px #aaa; border-radius: 3px!important;" data-ng-if="activityLogIcon == true" data-ng-click="fnShowSiteWideHelpData(siteWideHelpData[42].helpID)">
                <a class="glyphicon glyphicon-info-sign nopadding"></a>
            </button>

            <button title="Help" type="button" class="btn btn-default themeLabel buttontitlebar"  data-ng-if="activityLogIcon == false" data-ng-click="fnShowSiteWideHelpData(siteWideHelpData[42].helpID)">
                <a class="glyphicon glyphicon-info-sign nopadding"></a>
            </button>
            <div data-ng-if="siteWideHelpData[42].isVissible" class="popover fade bottom in btnClicked" style="top: 54px; display: block; left: 12px;">
                <div style="top: -11px !important;margin-left: -40px !important;" class="arrow"></div>
                <h3 class="popover-title"><b><font style="color:#00006B">Help:</font></b>
                    <a class="glyphicon glyphicon-pencil cPointer" data-ng-if="!siteWideHelpData[42].editable" data-ng-click="fnEditSiteWideHelpData(siteWideHelpData[42].helpID, 'edit')" style="float: right;"></a>
                    <a class="glyphicon glyphicon-ok cPointer" data-ng-if="siteWideHelpData[42].editable" data-ng-click="fnEditSiteWideHelpData(siteWideHelpData[42].helpID, 'save')" style="float: right;"></a></h3>
                <div style="display: block; background: #F4FFF4" data-ng-if="!siteWideHelpData[42].editable" class="popover-content">
                    <span style="width: 100%;" ng-bind-html="siteWideHelpData[42].context | to_trusted">{{siteWideHelpData[42].context}}</span>
                    <span style="color: #6e7774; width:100%;background-color: #F4FFF4; font-size: 12px;"><span style="float: right;">Last edited by {{siteWideHelpData[42].firstNameofUser}} on {{siteWideHelpData[42].updated_at}}</span></span>
                </div>

                <textarea style="margin: 2px; width: 542px; height: 300px;" data-ng-if="siteWideHelpData[42].editable" ng-model="siteWideHelpData[42].contextForEdit">{{siteWideHelpData[42].contextForEdit}}</textarea>
            </div>
            <!--sitewidehelpIcon-->

            <!--Deleted activity log-->
            <button title="Deleted activity log" type="button" class="btn btn-default themeLabel buttontitlebar" data-ng-if="enableDeleteActivityLogIcon == false" data-ng-click="fnDeleteActivityLog()">
                <a class="glyphicon glyphicon-link nopadding"></a>
            </button>
            <button title="Deleted activity log" type="button" class="btn btn-default themeLabel buttontitlebar" data-ng-if="enableDeleteActivityLogIcon == true" style="background: #d8d8d8; box-shadow: inset 4px 3px 10px #aaa; border-radius: 3px!important;" data-ng-click="fnDeleteActivityLog()">
                <a class="glyphicon glyphicon-link nopadding"></a>
            </button>
            <!--Deleted activity log end-->

    <!-- Display Delete Activity Log Popup -->
    <div data-ng-if="enableDeleteActivityLogIcon == true" class="popover fade bottom in btnClicked" style="top: 54px; display: block; left: 30px; min-width: 1300px;">
        <div style="left: 233px !important;top: -11px !important;" class="arrow"></div>
        <div style="display: block; background: #FFFFFF" class="popover-content">
            <div class="textarea-initial" data-ng-if="!displayDeleteActivityLogCollection" style="background-color: #CFCFD0; width: 100%;"><strong>Loading...</strong></div>
            <div class="textarea-initial" data-ng-if="displayDeleteActivityLogCollection.length==0" style="background-color: #CFCFD0; width: 100%;">No deleted activity log found</div>
            <table data-ng-if="displayDeleteActivityLogCollection.length > 0" st-table="displayDeleteActivityLogCollection"  st-safe-src="deleteActivityLogData" class="table table-striped tableHeaderLight activityLogTable">
                <thead>
                <tr>
                    <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                    <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                    <th class="cPointer col-md-1 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                    <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                    <th class="cPointer col-md-2 sortable" st-sort="timeOfActivity"><span class="sorticon"></span>Time of activity</th>
                    <th class="col-md-7">Description</th>
                </tr>
                <tr>
                    <th><input st-search="clientIPAddressForActivity"/></th>
                    <th><input st-search="typeOfSection"/></th>
                    <th><input st-search="doneByUserFullName"/></th>
                    <th><input st-search="typeOfActivity"/></th>
                    <th>
                        <input st-search="timeOfActivity" data-ng-model="filterData.timeOfActivity" />
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="log in displayDeleteActivityLogCollection">

                    <td>
                        <div class="input-group">
                            <span>{{::log.clientIPAddressForActivity}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span>{{::log.typeOfSection}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span>{{::log.doneByUserFullName}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span>{{::log.typeOfActivity}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span>{{::log.timeOfActivity}}</span>
                            <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <div data-ng-if="log.typeOfActivity == 'delete'">{{::log.oldValue}}</div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot ng-if = "deleteActivityLogData.length>10">
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- End of Delete Activity Log Popup -->

        </h3>
        <div class="alert alert-warning" role="alert">
            <strong>Important!</strong> If "Are users of this role available for booking" is set to "Yes" then the users under the role will be shown in Appointment Booking System and their Patient Hours will be calculated.
        </div>
    </div>
    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="userRoleDataSet.length==0">{{masterData.messageVal}}</div>
    <table data-ng-if="userRoleDataSet.length>0" st-table="displayUserRoleCollection" st-safe-src="userRoleDataSet" class="table table-striped">
        <thead>
           <tr>
               <th class="col-md-4 sortable padding-left-45p" st-sort="name"><span class="sorticon"></span>Name</th>
               <th class="col-md-2 sortable">Are users of this role available for booking</th>
               <th class="col-md-2 sortable" st-sort="securityLevel"><span class="sorticon"></span>Security level</th>
               <th class="col-md-2 sortable" st-sort="usersCount"><span class="sorticon"></span>Number of users of this role</th>
           </tr>
           <tr>
                <th class="padding-left-45p"><input st-search="name"/></th>
            </tr>
        </thead>
        <tbody>
           <tr class="cPointer reveal-elem-parent" data-ng-repeat="userRole in displayUserRoleCollection">
               <td>
                    <div class="pull-left reveal-elem" > <!-- width40p -->
                            <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-click="fnDeleteUserRole(userRole)"></a>
                    </div>
                    <div class="pull-left " >
                        <a data-ng-if="userRole.id != null" href="" style="top: -2px;padding: 4px;" class="glyphicon glyphicon-link depressForSingelRowActivityLog" data-ng-class="{'reveal-elem':!userRole.activityLogIconForEvent, 'depressedForActivityLog':userRole.activityLogIconForEvent}" data-ng-click="$event.stopPropagation();activityLogStreamToAct($index, userRole.id)"></a>
                    </div>
                    <!-- Display Activity Log Popup -->
                    <span data-ng-if="userRole.activityLogIconForEvent" class="fa fa-sort-asc fa-3x arrowForActivityLog" style="margin-left: -22px; margin-top: 16px;"></span>
                    <div data-ng-if="userRole.activityLogIconForEvent" class="panel panel-default viewActivityLog" style="margin-top: 32px;margin-left: -10px;border-top-width: 0px;">
                        <div class="textarea-initial" data-ng-if="!displayActivityLogForEvent" style="background-color: #BFBFBF;"><strong>Loading...</strong></div>
                        <div class="textarea-initial" data-ng-if="displayActivityLogForEvent.length==0 && showEventsActivityLogForEvent" style="background-color: #CFCFD0;">No activity log found</div>
                        <table data-ng-if="showEventsActivityLogForEvent && displayActivityLogForEvent.length > 0" st-table="displayActivityLogForEvent"  st-safe-src="eventsActivityLogDataForEvent" class="table table-striped activityLogTable">
                            <thead style="background-color: #BFBFBF;">
                            <tr >
                                <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                                <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                                <th class="cPointer col-md-1 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                                <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                                <th class="cPointer col-md-1 sortable" st-sort="pluginFieldName"><span class="sorticon"></span>Field of activity</th>
                                <th class="cPointer col-md-2 sortable" st-sort="timeOfActivity"><span class="sorticon"></span>Time of activity</th>
                                <th class="col-md-6">Description</th>
                            </tr>
                            <tr>
                                <th><input st-search="clientIPAddressForActivity"/></th>
                                <th><input st-search="typeOfSection"/></th>
                                <th><input st-search="doneByUserFullName"/></th>
                                <th><input st-search="typeOfActivity"/></th>
                                <th><input st-search="pluginFieldName"/></th>
                                <th>
                                    <input st-search="timeOfActivity"/>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody style="background-color: rgba(141, 144, 144, 0.19);">

                            <tr data-ng-repeat="log in displayActivityLogForEvent">

                                <td>
                                    <div class="input-group">
                                        <span>{{::log.clientIPAddressForActivity}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.typeOfSection}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.doneByUserFullName}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.typeOfActivity}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span data-ng-if="log.pluginFieldName != 'Add'">{{::log.pluginFieldName}}</span>
                                        <span data-ng-if="log.pluginFieldName == 'Add'"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.timeOfActivity}}</span>
                                        <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div data-ng-if="log.typeOfActivity == 'add'">{{::log.newValue}}</div>
                                        <div data-ng-if="log.typeOfActivity == 'edit'">
                                            <span data-ng-if="log.pluginFieldName =='Lock'">Old value: "{{::log.oldValue}}" New value: "{{::log.newValue}}"</span>
                                            <span data-ng-if="log.pluginFieldName =='Expiry month'">Old month: "{{::log.oldValue}}" New month: "{{::log.newValue}}"</span>
                                            <span data-ng-if="log.pluginFieldName =='Expiry year'">Old year: "{{::log.oldValue}}" New year: "{{::log.newValue}}"</span>
                                            <span data-ng-if="log.pluginFieldName =='Attachment'">Old file: "{{::log.oldValue}}" New file: "{{::log.newValue}}"</span>
                                <span data-ng-if="log.pluginFieldName !='Lock' && log.pluginFieldName !='Expiry month' && log.pluginFieldName !='Expiry year' && log.pluginFieldName !='Attachment' ">
                                    Old value: "{{::log.oldValue}}" New value: "{{::log.newValue}}"
                                </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if = "eventsActivityLogDataForEvent.length>10" style="background-color: #BFBFBF;">
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7" class="paginationMargin"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- End of Activity Log Popup -->
                        <a href="javascript:void(0)" editable-text="userRole.name" buttons="no" blur="submit" data-ng-model="userRole.name" onaftersave="fnSaveUserRole(userRole, 'Name')" data-ng-keypress="fnSaveUserRole(userRole, 'Name')">{{userRole.name||'empty'}}</a>
               </td>
               <td>
                   <a class="btn btn-danger btn-xs cPointer" data-ng-if="userRole.isAllowed == 'no'" data-ng-click="fnSaveUserRoleAccess(userRole, 'yes')">{{userRole.isAllowed}}</a>
                   <a class="btn btn-success btn-xs cPointer" data-ng-if="userRole.isAllowed == 'yes'" data-ng-click="fnSaveUserRoleAccess(userRole, 'no')">{{userRole.isAllowed}}</a>
               </td>
               <td>
                   <div class="input-group">
                       <a class="cPointer" href="javascript:void(0)" editable-text="userRole.securityLevel" buttons="no"   blur="submit"
                          onaftersave="fnChangeSecurityLevel(userRole, $index)" data-ng-keypress="fnChangeSecurityLevel(userRole, $index)" >
                           {{userRole.securityLevel||'empty'}}</a>
                   </div>
                   {{}}
               </td>
               <td>
                     <span>{{::userRole.usersCount}}</span>  
               </td>
           </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" style=" vertical-align: middle;color:#666;font-weight: bold;">
                   <div data-ng-show="paginationInfo.totalItemCount>0">Total <span style="color: #444;">{{paginationInfo.totalItemCount}}</span> user role<span data-ng-show="paginationInfo.totalItemCount>1">s</span>.
                       Showing {{displayUserRoleCollection.length}} user<span data-ng-show="displayUserRoleCollection.length>1">s</span> roles.
                        <div class="btn-group report-info">
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="25" ng-class="{'disabled':paginationInfo.totalItemCount<25}">25</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="50" ng-class="{'disabled':paginationInfo.totalItemCount<56}">50</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="100" ng-class="{'disabled':paginationInfo.totalItemCount<51}">100</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="200" ng-class="{'disabled':paginationInfo.totalItemCount<101}">200</label>
                        </div>
                    </div>
                    <div data-ng-show="paginationInfo.totalItemCount==0">
                        No user role found to show.
                    </div>
                </td>
                <td class="text-center">
                    <div data-st-pagination="" data-current-page="currentPage" data-st-items-by-page="itemsByPage" data-st-template="directives/pagination.custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
