<div>
    <ul class="nav nav-pills nav-stacked">
        <li>Master</li>
        <ul>
            <li >
                <!--<a ui-sref="changeLevel('home.masterdb.userRole')">User roles</a>-->
                <a ui-sref="masterDb.sectionPage({sectionName: 'userRole'})" ui-sref-active="activeState">User roles</a>
            </li>
            <li >
                <!--<a ui-sref="changeLevel('home.masterdb.assets')">Assets</a>-->
                <a ui-sref="masterDb.sectionPage({sectionName: 'assets'})" ui-sref-active="activeState">Assets</a>
            </li>
            <li >Access details</li>
            <ul>
                <li>Step 1: User types allowed to access</li>
                <ul>
                    <li>Pateint: Self</li>
                    <li>D or DA: Self / Care team</li>
                    <li>Admin: Everyone</li>
                </ul>
                <li ><a>Step 2: Plugin relevance for different roles or types</a></li>
                <ul>
                    <li><a ui-sref="masterDb.sectionPage({sectionName: 'plugins'})">Step 2a: User plugins</a></li>
                    <li><a ui-sref="masterDb.sectionPage({sectionName: 'eventPlugins'})">Step 2b: Event plugins</a></li>
                </ul>
                </li>
                <!--<li ><a ui-sref="masterDb.sectionPage({sectionName: 'plugins'})">Step 3: Plugin permission for user role</a></li>-->
            </ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'appPermission'})">App access details</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'careTeam'})">Care Team</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'apptNoteConfig'})">Appointment Note Configuration</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'noteLockPermission'})">Note lock permission settings</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'locations'})">Savant Care office locations</a></li>
        </ul>
        <li>Billing</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'eligibleDetail'})" id="eligible-api-keys">Eligible Details</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'cptCodes'})">CPT</a></li>
            <ul>
                <li ><a ui-sref="masterDb.sectionPage({sectionName: 'cptCodesRates'})">CPT code rates </a></li>
            </ul>
        </ul>
        <li>Coding</li>
            <ul>
                <li>Coding for psychiatrist</li>
                <ul>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'levelOfServices'})">Codes for level of services</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'timeInPsytx'})">Codes for time spent in psychotherapy</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'interactiveComplexity'})">Codes for interactive complexity</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'historyLevels'})">History levels</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'examLevels'})">Exam levels</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'MDMLevels'})">MDM levels</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'conflictRelationBetweenCodes'})">Conflict relationship between codes</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'codesRequiredForCode'})">Codes required for a code</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'ssRequiredForCode'})">Service statements required for a code</a></li>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'codesForAppointmentTime'})">Codes for appointment time</a></li>
                </ul>
            </ul>
            <ul>
                <li>Coding for therapist</li>
                <ul>
                    <li ><a ui-sref="masterDb.sectionPage({sectionName: 'timeInPsytxTherapist'})">Codes for time spent in psychotherapy</a></li>
                </ul>
            </ul>
        <li>Calendar</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'eventTypes'})">Event types</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'eventStatus'})">Event status</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'eventTypeDependency'})">Dependency between event types</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'colorList'})">Color list</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'reasonsForVisitList'})">Reasons for visit list</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'syncCalendarReport'})">Sync calendar report</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'googleCalenderSetting'})">Google calender settings</a></li>
        </ul>
        <li>Reports management</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'paymentsCustomReport'})">Payments custom reports</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'eventCustomReport'})">Events custom reports</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'cronReportManagement'})">Cron reports management</a></li>
        </ul>
        <li>Patient Related</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'usersAssociatedWithProvider'})">Association between Provider and it's team</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'patientPortalConfigs'})">Patient portal Configuration</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'matchingReport'})">Savant care matching report</a></li>
        </ul>
        <li>System management</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'systemHealthStatus'})">System health status</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'automatedSystems'})">Work done by automated systems</a></li>
        </ul>
        <li>Drive</li>
        <ul>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'fileTagList'})">File tag list</a></li>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'fileExtensionRelation'})">File extension to type relationship</a></li>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'allowedFileExtension'})">Allowed file extensions</a></li>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'fileType'})">File type</a></li>
        </ul>
        <li>Others</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'users'})" id="userOfMasterDb">Users</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'areasOfExpertise'})">Areas of expertise</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'medications'})">Medications</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'printBulkLetters'})">Print bulk letters</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'notifierTemplates'})">Notifier templates management system</a></li>
            <!--<li ><a ui-sref="masterDb.sectionPage({sectionName: 'eventReminders'})">Event reminders management</a></li>-->
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'contactTypes'})">Contact Types</a></li>
            <!--<li ><a ui-sref="masterDb.sectionPage({sectionName: 'potentialPatientIntake'})">Potential Patient Intake</a></li>-->
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'dbStatusReport'})">DB Status Report</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'policies'})">Policies</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'unlock'})">Unlock</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'fax'})">Fax Documents</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'helpdesk'})">Help Desk</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'screens'})">Screens</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'therapistPatients'})">Therapist Patients</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'scPrinter'})">Printer timezones</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'showHideOldApp'})">Show / Hide old app </a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'manageGuiFeatures'})">Manage GUI features </a></li>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'miscellaneousNoteType'})">Miscellaneous note type</a></li>
        </ul>
        <li>Surescripts</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'directory'})">Directory</a></li>
        </ul>
        <li>ScBrain</li>
        <ul>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'masterCommandList'})">Master command list</a></li>
            <li ><a ui-sref="masterDb.sectionPage({sectionName: 'scBrainTooltipManager'})">ScBrain tooltip manager</a></li>
        </ul>
        <li>Mobile app</li>
        <ul>
            <li>Sign to EMR</li>
            <ul>
                <li><a ui-sref="masterDb.sectionPage({sectionName: 'resetPin'})">Reset Pin</a></li>
            </ul>
        </ul>
        <li>Ad page settings</li>
        <ul>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'doctorsAliasName'})">Provider Specific settings</a></li>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'adwordTrackingCode'})">Adword tracking code Management</a></li>
            <li><a ui-sref="masterDb.sectionPage({sectionName: 'profileImageManagement'})">Optimised profile image for Provider and DA </a></li>
        </ul>
    </ul>
    <br>
    <br>
    <br>
</div>