<!--<div class="views-bootstrap-accordion-plugin-style panel-group" id="views-bootstrap-accordion-1" data-ng-controller="letterTemplatesMasterCtrl">-->
<div class="views-bootstrap-accordion-plugin-style panel-group" id="views-bootstrap-accordion-1">

        <div data-ng-if="!letterObj.letterDetail" class="padding10">
<div class="textarea-initial" data-ng-if="!letters.length">{{(masterData.messageVal) && masterData.messageVal || 'Loading from Database...'}}</div>  
            <div ng-repeat="letter in letters" class="borderBottomLight" data-ng-if="letters.length">
                <div class="row">
                    <div class="col-md-10 fLeft">
                        <h3><a href="javascript:void(0);" data-ng-click="letterDetailView(letter.id,letter.letterContent,letter.templateName)">{{letter.templateName}}</a></h3>
                        <p>{{letter.letterContent}}</p>
                    </div>
                    <div class="fLeft mentIoMenu">             
                        <button class="btn btn-default" ng-click="removeLetter(letter, $index)">Delete</button>
                    </div>
                </div>    
            </div>
            <div class="jumbotron">
                <h3>Add New letter template</h3>
                <div class="form-group">
                    <label for="templateName">Template Name</label>
                    <input type="text" class="form-control" ng-model="letternew.templateName" name="templateName" placeholder="Enter template name" id="templateName">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" rows="3" cols="3" name="content" id="content" ng-model="letternew.content"></textarea>
                </div>
                <button class="btn btn-default" ng-click="addnewletter(letternew)">Submit</button>
            </div>
        </div>
        <div data-ng-if="letterObj.letterDetail">
            <ng-include src="'view/letterTemplates/letter.detail.html'"></ng-include>
        </div>  
</div>  