<div ng-controller="miscellaneousNoteTypeMasterCtrl">
    <div class="fLeft"> <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Miscellaneous note type
            <button class="btn btn-default themeLabel" data-ng-click="fnAddNoteType($index)" type="button" title="Add note type">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>

    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 25px !important;">
            <span>{{ masterData.messageVal }}</span>
            <span data-ng-if="showDetailedError == true"><a href="" data-ng-click="fnShowHideErrorDetail()">View detail</a></span>
        </div>
        <div class="pannel-message-board mTop20" data-ng-if="showErrorMessage">
            <span class="alert-danger">{{detailedErrorMsg}}</span>&nbsp;&nbsp;
            <span><a href="" data-ng-click="fnShowHideErrorDetail()">Hide detail</a></span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="miscellaneousNoteTypeList.length==0">Nothing found</div>
    <div class="col-md-12">
        <table data-ng-if="miscellaneousNoteTypeList.length>0" st-table="miscellaneousNoteTypeDataSet" st-safe-src="miscellaneousNoteTypeList" class="table ng-scope">
            <thead>
            <tr >
                <th class=" " style="width:5%;"></th>
                <th class="sortable" st-sort="name" style="width:0%;"><span class="sorticon"></span>Note type</th>
             </tr>
            </thead>
            <tbody class="alternate-col">
                <tr class=" reveal-elem-parent" data-ng-repeat="noteTypeData in miscellaneousNoteTypeDataSet" data-ng-class="{'warning':noteTypeData.id == 0}">
                    <td>
                        <!--<div class="reveal-elem" data-ng-if="noteTypeData.countTypeInRelation==0">-->
                            <!--<a href="" class="glyphicon glyphicon-trash text-danger"  data-ng-click="fnDeleteFileType(noteTypeData, $index)" id="remove-ss"></a>-->
                        <!--</div>-->
                    </td>
                    <td>
                        <div class="input-group">
                           <a class="cPointer" href="javascript:void(0)" editable-text="noteTypeData.noteType" buttons="no" blur="submit"
                               onaftersave="fnSaveNoteType(noteTypeData, $index)"
                               data-ng-keypress="fnSaveNoteType(noteTypeData, $index)" >
                                {{noteTypeData.noteType||'empty'}}</a>
                         </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="16" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>
     </div>
</div>