<!--<div ng-controller="levelOfServicesMasterCtrl" >-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Codes for level of services &nbsp;
            <!--<button class="btn btn-default themeLabel" data-ng-click="fnAddLos()" type="button" title="Add Designation">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>-->
        </h3>
    </div>
    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 25px !important;">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="masterData.designationList.length==0">{{masterData.messageVal}}</div>
    <table data-ng-if="masterData.designationList.length>0" st-table="displayDesignationListCollection" st-safe-src="masterData.designationList" class="table table-striped table-hover">
        <thead>
           <tr>
               <th class="cPointer col-md-2 sortable" st-sort="HistoryLevel" style="padding-left: 35px;"><span class="sorticon"></span>History level</th>
               <th class="cPointer col-md-2 sortable" st-sort="ExamLevel"><span class="sorticon"></span>Exam level</th>
               <th class="cPointer col-md-2 sortable" st-sort="MDMLevel"><span class="sorticon"></span>MDM level</th>
               <th class="cPointer col-md-2 sortable" st-sort="billingCodeForNewAppointment"><span class="sorticon"></span>Billing code for first appointment</th>
               <th class="cPointer col-md-2 sortable" st-sort="billingCodeForFollowUpAppointment"><span class="sorticon"></span>Billing code for follow up appointment</th>
               <th class="cPointer col-md-2 sortable" st-sort="notes"><span class="sorticon"></span>Notes</th>
           </tr>
        <tr>
            <th class=""><input st-search="HistoryLevel"/></th>
            <th class=""><input st-search="ExamLevel"/></th>
            <th class=""><input st-search="MDMLevel"/></th>
            <th class=""></th>
            <th class=""></th>
            <th class=""></th>
        </tr>
        </thead>
        <tbody class="">
           <tr class="cPointer reveal-elem-parent" data-ng-repeat="designation in displayDesignationListCollection" data-ng-class="{'warning':designation.ID == null}">
               <td>
                   <div class="pull-left " >
                        <a data-ng-if="designation.ID != null" href="" style="padding: 3px;" class="glyphicon glyphicon-link depressForSingelRowActivityLog" data-ng-class="{'reveal-elem':!designation.activityLogIconForEvent, 'depressedForActivityLog':designation.activityLogIconForEvent}" data-ng-click="$event.stopPropagation();openActivityStreamForDesignation($index, designation.ID)"></a>
                    </div>
                    <!-- Display Activity Log Popup -->
                    <span data-ng-if="designation.activityLogIconForEvent" class="fa fa-sort-asc fa-3x arrowForActivityLog" style="margin-left: -22px; margin-top: 16px;" data-ng-class="{'traingleLftLock':designation.isItLocked=='yes'}"></span>
                    <div data-ng-if="designation.activityLogIconForEvent" class="panel panel-default viewActivityLog" style="margin-top: 32px;margin-left: -10px;border-top-width: 0px;">
                        <div class="textarea-initial" data-ng-if="!displayActivityLogForEvent" style="background-color: #BFBFBF;"><strong>Loading...</strong></div>
                        <div class="textarea-initial" data-ng-if="displayActivityLogForEvent.length==0 && showEventsActivityLogForEvent" style="background-color: #CFCFD0;">No activity log found</div>
                        <table data-ng-if="showEventsActivityLogForEvent && displayActivityLogForEvent.length > 0" st-table="displayActivityLogForEvent"  st-safe-src="eventsActivityLogDataForEvent" class="table table-striped activityLogTable">
                            <thead style="background-color: #BFBFBF;">
                            <tr >
                                <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                                <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                                <th class="cPointer col-md-1 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                                <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                                <th class="cPointer col-md-1 sortable" st-sort="pluginFieldName"><span class="sorticon"></span>Field of activity</th>
                                <th class="cPointer col-md-2 sortable" st-sort="timeOfActivity"><span class="sorticon"></span>Time of activity</th>
                                <th class="col-md-6">Description</th>
                            </tr>
                            <tr>
                                <th><input st-search="clientIPAddressForActivity"/></th>
                                <th><input st-search="typeOfSection"/></th>
                                <th><input st-search="doneByUserFullName"/></th>
                                <th><input st-search="typeOfActivity"/></th>
                                <th><input st-search="pluginFieldName"/></th>
                                <th>
                                    <input st-search="timeOfActivity"/>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody style="background-color: rgba(141, 144, 144, 0.19);">

                            <tr data-ng-repeat="log in displayActivityLogForEvent">

                                <td>
                                    <div class="input-group">
                                        <span>{{::log.clientIPAddressForActivity}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.typeOfSection}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.doneByUserFullName}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.typeOfActivity}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span data-ng-if="log.pluginFieldName != 'Add'">{{::log.pluginFieldName}}</span>
                                        <span data-ng-if="log.pluginFieldName == 'Add'"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>{{::log.timeOfActivity}}</span>
                                        <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div data-ng-if="log.typeOfActivity == 'add'">{{::log.newValue}}</div>
                                        <div data-ng-if="log.typeOfActivity == 'edit'">
                                            <span data-ng-if="log.pluginFieldName =='Lock'">Old value: "{{::log.oldValue}}" New value: "{{::log.newValue}}"</span>
                                            <span data-ng-if="log.pluginFieldName =='Expiry month'">Old month: "{{::log.oldValue}}" New month: "{{::log.newValue}}"</span>
                                            <span data-ng-if="log.pluginFieldName =='Expiry year'">Old year: "{{::log.oldValue}}" New year: "{{::log.newValue}}"</span>
                                            <span data-ng-if="log.pluginFieldName =='Attachment'">Old file: "{{::log.oldValue}}" New file: "{{::log.newValue}}"</span>
                                <span data-ng-if="log.pluginFieldName !='Lock' && log.pluginFieldName !='Expiry month' && log.pluginFieldName !='Expiry year' && log.pluginFieldName !='Attachment' ">
                                    Old value: "{{::log.oldValue}}" New value: "{{::log.newValue}}"
                                </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if = "eventsActivityLogDataForEvent.length>10" style="background-color: #BFBFBF;">
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7" class="paginationMargin"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- End of Activity Log Popup -->

                   <a href="javascript:void(0)" data-ng-if="designation.ID == null" editable-text="designation.HistoryLevel" buttons="no" blur="submit" data-ng-model="designation.HistoryLevel" onaftersave="fnSaveExamHistMdmBillingCodeData(designation,'History')" data-ng-keypress="fnSaveExamHistMdmBillingCodeData(designation,'History')" style="padding-left: 2px;">{{designation.HistoryLevel||'empty'}}</a>
                   <span data-ng-if="designation.ID != null" style="padding-left: 2px;">{{designation.HistoryLevel||'empty'}}</span>
               </td>
               <td>
                   <a href="javascript:void(0)" data-ng-if="designation.ID == null" editable-text="designation.ExamLevel" buttons="no" blur="submit" data-ng-model="designation.ExamLevel" onaftersave="fnSaveExamHistMdmBillingCodeData(designation,'Exam')" data-ng-keypress="fnSaveExamHistMdmBillingCodeData(designation,'Exam')" >{{designation.ExamLevel||'empty'}}</a>
                   <span data-ng-if="designation.ID != null">{{designation.ExamLevel||'empty'}}</span>
               </td>
               <td>
                   <a href="javascript:void(0)" data-ng-if="designation.ID == null" editable-text="designation.MDMLevel" buttons="no" blur="submit" data-ng-model="designation.MDMLevel" onaftersave="fnSaveExamHistMdmBillingCodeData(designation,'MDM')" data-ng-keypress="fnSaveExamHistMdmBillingCodeData(designation,'MDM')">{{designation.MDMLevel||'empty'}}</a>
                   <span data-ng-if="designation.ID != null">{{designation.MDMLevel||'empty'}}</span>
               </td>
               <td>
                   <a href="javascript:void(0)" editable-select="designation.billingCodeForNewAppointment" buttons="no" e-ng-options="cptCode.name as cptCode.name for cptCode in masterData.cptCodeList" blur="submit" onaftersave="fnSaveExamHistMdmBillingCodeData(designation,'billingCodeForNewAppointment')"  data-ng-keypress="fnSaveExamHistMdmBillingCodeData(designation,'billingCodeForNewAppointment')">{{designation.billingCodeForNewAppointment||'empty'}}</a>
               </td>
               <td>
                   <a href="javascript:void(0)" editable-select="designation.billingCodeForFollowUpAppointment" buttons="no" e-ng-options="cptCode.name as cptCode.name for cptCode in masterData.cptCodeList" blur="submit" onaftersave="fnSaveExamHistMdmBillingCodeData(designation,'billingCodeForFollowUpAppointment')"  data-ng-keypress="fnSaveExamHistMdmBillingCodeData(designation,'billingCodeForFollowUpAppointment')">{{designation.billingCodeForFollowUpAppointment||'empty'}}</a>
               </td>
               <td>
                   <a href="javascript:void(0)" editable-text="designation.notes" buttons="no" blur="submit" data-ng-model="designation.notes" onaftersave="fnSaveExamHistMdmBillingCodeData(designation,'Notes')" data-ng-keypress="fnSaveExamHistMdmBillingCodeData(designation,'Notes')" style="padding-left: 2px;">{{designation.notes||'empty'}}</a>
               </td>
           </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
