<div class="col-sm-5 form-box">
    <div class="form-top">
        <div class="form-top-left">
            <h3>Unlock payer for a user</h3>
        </div>
    </div>
    <div class="form-bottom" data-ng-if="!userIDPayer">
        <form name="unlockEventForm" data-ng-submit="fnShowEventCodes('payer')">
            <div class="form-group">
                <p>Enter user id to get the locked payer list: <label class="switchOn">*</label> :</p>
                <input type="text" placeholder="User id" class="form-control" data-ng-model="unlockData.userID" data-ng-required="!unlockData.userID">
            </div>
            <button type="submit" class="btn">Submit</button>
            <button ui-sref="masterDb.sectionPage({sectionName: 'unlock'})" class="btn">Go back</button>
        </form>
    </div>
    <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'No' &&  userIDPayer">
        <form name="unlockEventForm" data-ng-submit="fnUnlockEvent('payer')">
            <div class="form-group">
                <p>User id: <label class="switchOn">*</label> :</p>
                <input type="text" placeholder="User id" class="form-control" data-ng-model="unlockData.userID" data-ng-required="!unlockData.userID" disabled="disabled">
            </div>
            <div data-ng-if="payerList.length==0">
                No locked payer found for this user.
            </div>
            <div data-ng-if="payerList.length>0">
                <div class="form-group">
                    <p>Choose the Name from the list: <label class="switchOn">*</label> :</p>
                    <select class="form-control" ng-options="item as item.name for item in payerList track by item.id" ng-model="unlockData.payerID" data-ng-required="!unlockData.payerID"></select>
                </div>
                <div class="form-group">
                    <p>Give reason for unlocking <label class="switchOn">*</label> :</p>
                    <textarea placeholder="Type reason here..." class="form-control" data-ng-model="unlockData.reason" data-ng-required="!unlockData.reason"></textarea>
                </div>
            </div>
            <button data-ng-if="payerList.length>0" type="submit" class="btn">Unlock now</button>
            <button ui-sref="masterDb.sectionPage({sectionName: 'unlock'})" class="btn">Go back</button>
        </form>
    </div>
    <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'Yes'">
        <form name="unlockEventForm" data-ng-submit="fnSaveUnlockedEvent('payer')">
            <div class="form-group">
                <p>User id :</p>
                <input type="text" placeholder="User id" class="form-control" data-ng-model="unlockData.userID" data-ng-required="!unlockData.userID" disabled="disabled">
            </div>
            <div class="form-group">
                <p>Payer :</p>
                <select class="form-control" ng-options="item as item.name for item in payerList track by item.id" ng-model="unlockData.payerID" data-ng-required="!unlockData.payerID" disabled="disabled"></select>
            </div>
            <div class="form-group">
                <p>Reason :</p>
                <textarea placeholder="Type reason here..." class="form-control" data-ng-model="unlockData.reason" data-ng-required="!unlockData.reason" disabled="disabled"></textarea>
            </div>
            <p>Are you sure to unlock this payer?
                <button type="submit" class="btn">Yes</button>
                <button data-ng-click="fnGoBack()" class="btn">No</button>
            </p>
        </form>
    </div>
</div>