<!--<div ng-controller="contactTypesMasterCtrl" >-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Contact Types &nbsp;
            <button class="btn btn-default themeLabel" data-ng-click="fnAddContactType()" type="button" title="Add Contact Type">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
    <div data-ng-if="msgObj.msg.open" class="col-md-10">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="contactTypesDataSet.length==0">{{masterData.messageVal}}</div>
    <table data-ng-if="contactTypesDataSet.length>0" st-table="displayContactTypesListCollection" st-safe-src="contactTypesDataSet" class="table table-striped">
        <thead>
           <tr>
               <th class="cPointer col-md-4 sortable" st-sort="name"><span class="sorticon"></span>Contact type name</th>
               <th class="cPointer col-md-4 sortable" st-sort="createdAtTimeStamp"><span class="sorticon"></span>Added on</th>
               <th class="col-md-4">Action</th>
           </tr>
           <tr>
                <th><input st-search="name"/></th>
            </tr>
        </thead>
        <tbody>
           <tr data-ng-repeat="contactType in displayContactTypesListCollection">
               <td>
                    <div class="input-group">
                        <a href="javascript:void(0)" editable-text="contactType.name" buttons="no" blur="submit" data-ng-model="contactType.name" onbeforesave="checkContactTypesName(contactType, $data, 'Contact type name')" onaftersave="fnSaveContactType(contactType)" data-ng-keypress="fnSaveContactType(contactType)">{{contactType.name||'empty'}}</a>
                    </div>
               </td>
               <td>
                     <div class="input-group">{{(contactType.createdAtTimeStamp|date:"MMM dd, yyyy")||'0000-00-00'}}</div>
               </td>
               <td>
                     <button class="btn btn-danger btn-xs" ng-click="fnDeleteContactType(contactType)">Delete</button>  
               </td>
           </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-center" style=" vertical-align: middle;color:#666;font-weight: bold;">
                   <div data-ng-show="paginationInfo.totalItemCount>0">Total <span style="color: #444;">{{paginationInfo.totalItemCount}}</span> contact type<span data-ng-show="paginationInfo.totalItemCount>1">s</span>.
                       Showing {{displayContactTypesListCollection.length}} contact type<span data-ng-show="displayContactTypesListCollection.length>1">s</span>.
                        <div class="btn-group report-info">
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="25" ng-class="{'disabled':paginationInfo.totalItemCount<25}">25</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="50" ng-class="{'disabled':paginationInfo.totalItemCount<26}">50</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="100" ng-class="{'disabled':paginationInfo.totalItemCount<51}">100</label>
                            <label class="btn btn-default" ng-model="itemsByPage" uib-btn-radio="200" ng-class="{'disabled':paginationInfo.totalItemCount<101}">200</label>
                        </div>
                    </div>
                    <div data-ng-show="paginationInfo.totalItemCount==0">
                        No contact type found to show.
                    </div>
                </td>
                <td colspan="1" class="text-center">
                    <div data-st-pagination="" data-current-page="currentPage" data-st-items-by-page="itemsByPage" data-st-template="directives/pagination.custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
