<!--<div ng-controller="assetsMasterCtrl">-->
<div>
    <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
        <h3>Assets list
            <button class="btn btn-default themeLabel" data-ng-click="addmasterassets()" type="button" title="Add Assets List">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
    <div class="col-md-10" data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div> 
    <div class="textarea-initial" data-ng-if="assetsListDataSet.length==0">{{masterData.messageVal}}</div>
    <div class="col-md-12">
        <table data-ng-if="assetsListDataSet.length>0" st-table="displayassetsListCollection" st-safe-src="assetsListDataSet" class="table table-striped">
            <thead>
                <tr>
                    <th class="cPointer col-md-5 sortable padding-left-45p" st-sort="name"><span class="sorticon"></span>Name</th>
                    <th class="cPointer col-md-3 sortable" st-sort="assetType"><span class="sorticon"></span>Type</th>
                </tr> 
                <tr>
                    <th class="padding-left-45p"><input st-search="name"/></th>
                    <th><input st-search="typeName"/></th>
                </tr>           
            </thead>
            <tbody>
                <tr class="cPointer reveal-elem-parent" data-ng-repeat="assets in displayassetsListCollection">
                   <td>
                        <div class="input-group">
                            <div class="pull-left width40p reveal-elem" >
                                  <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-click="deleteassets(assets)"></a>
                            </div>
                            <a href="javascript:void(0)" editable-text="assets.name" buttons="no" blur="submit" data-ng-model="assets.name" onbeforesave="checkAssetName(assets, $data, 'Asset Name')" onaftersave="updatemasterassets(assets)" data-ng-keypress="updatemasterassets(assets)">{{assets.name||'empty'}}</a>                           
                        </div>
                   </td>
                   <td>
                        <a href="javascript:void(0)" editable-select="assets.typeId" buttons="no" blur="submit" e-ng-options="type.id as type.label for type in masterData.assetTypesDataSet" onaftersave="updatemasterassets(assets)" data-ng-keypress="updatemasterassets(assets)">{{assets.typeName || 'empty'}}</a>
                   </td>
               </tr>         
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>