<!--<div data-ng-controller="unlockMasterCtrl">-->
<div>
    <div data-ng-if="masterDataForUnlock.hideTree == 'No'">
        <svg width="640" height="479.99999999999994" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
            <defs>
                <marker id="se_marker_end_svg_35" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_1" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
                <marker id="se_marker_end_svg_34" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_2" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
                <marker id="se_marker_end_svg_36" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_3" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
                <marker id="se_marker_end_svg_43" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_4" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
                <marker id="se_marker_end_svg_42" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_5" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
                <marker id="se_marker_end_svg_61" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_6" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
                <marker id="se_marker_end_svg_60" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_9" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
                <marker id="se_marker_end_svg_59" markerUnits="strokeWidth" orient="auto" viewBox="0 0 100 100" markerWidth="5" markerHeight="5" refX="50" refY="50">
                    <path id="svg_11" d="m100,50l-100,40l30,-40l-30,-40l100,40z" fill="#000000" stroke="#000000" stroke-width="10"/>
                </marker>
            </defs>
            <g class="layer">
                <rect fill="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="346" y="0" width="91" height="40" id="svg_49" stroke="#000000"/>
                <a xlink:href="/v3/app/masterdb/#/unlock/event" id="svg_8">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="390" y="28" id="svg_7" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve">1 event</text>
                </a>
                <ellipse fill="#000000" cx="248.24999" cy="180.5" rx="90" ry="27.5" fill-opacity="0" id="svg_15" stroke="#000000"/>
                <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="252.01563" y="188" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_13">Multiple codes</text>
                <rect fill="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="349" y="71" width="85" height="34" id="svg_50" stroke="#000000"/>
                <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="304.00781" y="411" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_21">User</text>
                <ellipse fill="#000000" cx="307" cy="403" rx="48.5" ry="25" fill-opacity="0" stroke="#000000" id="svg_30"/>
                <line fill="none" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="261" y1="413" x2="232" y2="441.000001" id="svg_34" marker-end="url(#se_marker_end_svg_34)" stroke="#000000"/>
                <line fill="none" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="355" y1="409" x2="381" y2="439" id="svg_35" marker-end="url(#se_marker_end_svg_35)"/>
                <line fill="none" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="391" y1="41.000001" x2="391" y2="67" id="svg_36" marker-end="url(#se_marker_end_svg_36)" stroke="#000000"/>
                <line fill="none" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="362.000001" y1="105.000001" x2="265" y2="151.999999" id="svg_42" marker-end="url(#se_marker_end_svg_42)" stroke="#000000"/>
                <line fill="none" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="415.999997" y1="104.999999" x2="515.999994" y2="154.000002" id="svg_43" marker-end="url(#se_marker_end_svg_43)" stroke="#000000"/>
                <rect fill="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="167.5" y="237" width="152" height="34" id="svg_58" stroke="#000000"/>
                <rect fill="#000000" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="1" y="315" width="283" height="36" id="svg_52"/>
                <rect fill="#000000" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="293" y="314" width="288" height="38" id="svg_53"/>
                <rect fill="#000000" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="438" y="156" width="199" height="53" id="svg_51"/>
                <rect fill="#000000" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="352" y="441" width="76" height="37" id="svg_54"/>
                <rect fill="#000000" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x="164" y="444" width="107" height="35" id="svg_55"/>
                <line fill="none" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="1" y1="362" x2="638" y2="362" id="svg_56" stroke-width="3"/>
                <line fill="none" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="240" y1="208.999999" x2="240" y2="233" id="svg_59" marker-end="url(#se_marker_end_svg_59)" stroke="#000000"/>
                <line fill="none" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="166" y1="272" x2="141" y2="314" id="svg_60" marker-end="url(#se_marker_end_svg_60)"/>
                <line fill="none" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" fill-opacity="0" x1="320" y1="271" x2="354" y2="311" id="svg_61" marker-end="url(#se_marker_end_svg_61)"/>
                <a xlink:href="/v3/app/masterdb/#/unlock/note" id="svg_10">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="388" y="97" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_19">1 note</text>
                </a>
                <a xlink:href="/v3/app/masterdb/#/unlock/isCodingFinishedForAppointment" id="svg_14">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="543.00781" y="179" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_40">Is coding finished</text>
                </a>
                <a xlink:href="/v3/app/masterdb/#/unlock/payer" id="svg_16">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="390.00781" y="466" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_20">Payer</text>
                </a>
                <a xlink:href="/v3/app/masterdb/#/unlock/redFlag" id="svg_17">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="219.96875" y="471" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_23">Red flags</text>
                </a>
                <a id="svg_18" xlink:href="/v3/app/masterdb/#/unlock/isCodingFinishedForAppointment">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="539" y="201" id="svg_12" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve">for appointment</text>
                </a>
                <a id="svg_22" xlink:href="/v3/app/masterdb/#/unlock/code">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="245" y="262" id="svg_46" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve">For each code</text>
                </a>
                <a id="svg_24" xlink:href="/v3/app/masterdb/#/unlock/outgoingPayment">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="141.00781" y="343" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_47">Multiple Outgoing payments</text>
                </a>
                <a id="svg_25" xlink:href="/v3/app/masterdb/#/unlock/incomingPayment">
                    <text fill="#666666" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="435.99219" y="345" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_48">Multiple Incoming payments</text>
                </a>
            </g>
        </svg>
    </div>
    <ul class="nav nav-pills nav-stacked" data-ng-if="unlockDetailName == 'List'">
        <li><h4><a data-ng-click="fnCallUnlock('video')">1. Unlock Video.</a></h4></li>
        <li><h4><a data-ng-click="fnCallUnlock('screenQuestion')">2. Unlock Screen Question.</a></h4></li>
        <li><h4><a data-ng-click="fnCallUnlock('screenGroup')">3. Unlock Screen Group.</a></h4></li>
        <li><h4><a data-ng-click="fnOpenActivityStream()" data-ng-class="{displayActivityLogLinc:openActivityLog==true}">4. See activity log.</a></h4></li>
    </ul>
    <div data-ng-if="unlockDetailName == 'video'">
        <div class="col-sm-5 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Unlock a video</h3>
                </div>
            </div>
            <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'No'">
                <form name="unlockEventForm" data-ng-submit="fnUnlockEvent('note')">
                    <div class="form-group">
                        <p>Enter video id which you want to unlock <label class="switchOn">*</label> :</p>
                        <input type="text" placeholder="Video id" class="form-control" data-ng-model="unlockData.eventID" data-ng-required="!unlockData.eventID">
                    </div>
                    <div class="form-group">
                        <p>Give reason for unlocking video<label class="switchOn">*</label> :</p>
                        <textarea placeholder="Type reason here..." class="form-control" data-ng-model="unlockData.reason" data-ng-required="!unlockData.reason"></textarea>
                    </div>
                    <button type="submit" class="btn">Unlock now</button>
                    <button data-ng-click="fnGoBack('List')" class="btn">Go back</button>
                </form>
            </div>
            <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'Yes'">
                <form name="unlockEventForm" data-ng-submit="fnSaveUnlockedEvent('video')">
                    <div class="form-group">
                        <p>Video id :</p>
                        <input type="text" placeholder="Video id" class="form-control" data-ng-model="unlockData.eventID" data-ng-required="!unlockData.eventID" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <p>Reason :</p>
                        <textarea placeholder="Type reason here..." class="form-control" data-ng-model="unlockData.reason" data-ng-required="!unlockData.reason" disabled="disabled"></textarea>
                    </div>
                    <p>Are you sure to unlock this video?
                        <button type="submit" class="btn">Yes</button>
                        <button data-ng-click="fnGoBack('video')" class="btn">No</button>
                    </p>
                </form>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div data-ng-if="unlockDetailName == 'screenQuestion'">
        <div class="col-sm-12 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Unlock questions for screen</h3>
                </div>
            </div>
            <div class="form-bottom" data-ng-if="unlockDetailConfirm != 'Yes'">
                <form name="unlockScreenForm">
                    <div class="form-group col-md-4">
                        <p>Select screen name to get the locked question list: <label class="switchOn">*</label> :</p>
                        <select placeholder="Screen Name..." class="form-control" ng-model="unlockData.screenID" data-ng-change="getScreenQuestionList(unlockData.screenID)">
                            <option value="">----Select----</option>
                            <option ng-repeat="option in screenList" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12" data-ng-if="unlockData.screenID>0">
                        <p>Question List: <label class="switchOn">*</label> :</p>
                        <table class="table table-condensed">
                            <thead>
                            <tr style="font-size:14px; background: rgba(56, 74, 99, 0.7); text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65); color: #fff">
                                <th class="cPointer col-md-1">Select</th>
                                <th class="cPointer col-md-5">Group</th>
                                <th class="cPointer col-md-6">Question</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size:14px" data-ng-repeat="objQuestion in unlockData.screenLockedQuestionList" data-ng-if="unlockData.screenLockedQuestionList.length>0">
                                <th><input type="checkbox" ng-model="objQuestion.isChecked" ng-true-value="true" ng-false-value="false" ng-click="getSelectedQuestionArrayList(objQuestion)"></th>
                                <th>{{objQuestion.group || 'empty'}}</th>
                                <th>{{objQuestion.question || 'empty'}}</th>
                            </tr>
                            <tr style="font-size:20px; height: 40px; font-weight: normal" data-ng-if="unlockData.screenLockedQuestionList.length==0">
                                <th colspan="3" style="text-align: center; padding-top: 20px;"> No question details found for this section !!!</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button data-ng-if="unlockData.selectedQuestionID.length>0" ng-click="fnUnlockEvent('screenQuestion')" class="btn">Unlock now</button>
                    <button data-ng-click="fnGoBack('List')" class="btn">Go back</button>
                </form>
            </div>
            <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'Yes'">
                <form name="unlockScreenQuestionForm" data-ng-submit="fnSaveUnlockedEvent('screenQuestion')">
                    <div class="form-group col-md-4">
                        <p>Select screen name to get the locked question list:</p>
                        <select class="form-control" ng-model="unlockData.screenID" data-ng-change="getScreenQuestionList(unlockData.screenID)"
                                ng-options="option.id as option.name for option in screenList track by unlockData.screenID" disabled></select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12" data-ng-if="unlockData.screenID!=''">
                        <p>Question List:</p>
                        <table class="table table-condensed">
                            <thead>
                            <tr style="font-size:14px; background: rgba(56, 74, 99, 0.7); text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65); color: #fff">
                                <th class="cPointer col-md-1">Select</th>
                                <th class="cPointer col-md-5">Group</th>
                                <th class="cPointer col-md-6">Question</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size:14px" data-ng-repeat="objQuestion in unlockData.screenLockedQuestionList" data-ng-if="unlockData.screenLockedQuestionList.length>0">
                                <th><input type="checkbox" ng-model="objQuestion.isChecked" ng-true-value="true" ng-false-value="false" ng-click="getSelectedQuestionArrayList(objQuestion)" disabled="disabled"></th>
                                <th>{{objQuestion.group || 'empty'}}</th>
                                <th>{{objQuestion.question || 'empty'}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <p>Reason<label class="switchOn">*</label> :</p>
                        <textarea placeholder="Type reason here..." required class="form-control" data-ng-model="unlockData.reason"></textarea>
                    </div>
                    <p>Are you sure to unlock this questions?
                        <button type="submit" class="btn">Yes</button>
                        <button data-ng-click="fnGoBack('screenQuestion')" class="btn">No</button>
                    </p>
                </form>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div data-ng-if="unlockDetailName == 'screenGroup'">
        <div class="col-sm-12 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Unlock groups for screen</h3>
                </div>
            </div>
            <div class="form-bottom" data-ng-if="unlockDetailConfirm != 'Yes'">
                <form name="unlockScreenForm">
                    <div class="form-group col-md-4">
                        <p>Select screen name to get the locked group list: <label class="switchOn">*</label> :</p>
                        <select placeholder="Screen Name..." class="form-control" ng-model="unlockData.screenID" data-ng-change="getScreenGroupList(unlockData.screenID)">
                            <option value="">----Select----</option>
                            <option ng-repeat="option in screenList" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12" data-ng-if="unlockData.screenID>0">
                        <p>Group List: <label class="switchOn">*</label> :</p>
                        <table class="table table-condensed">
                            <thead>
                            <tr style="font-size:14px; background: rgba(56, 74, 99, 0.7); text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65); color: #fff">
                                <th class="cPointer col-md-1">Select</th>
                                <th class="cPointer col-md-5">Group Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size:14px" data-ng-repeat="objGroup in unlockData.screenLockedGroupList" data-ng-if="unlockData.screenLockedGroupList.length>0">
                                <th><input type="checkbox" ng-model="objGroup.isChecked" ng-true-value="true" ng-false-value="false" ng-click="getSelectedGroupArrayList(objGroup)"></th>
                                <th>{{objGroup.groupName || 'empty'}}</th>
                            </tr>
                            <tr style="font-size:20px; height: 40px; font-weight: normal" data-ng-if="unlockData.screenLockedGroupList.length==0">
                                <th colspan="3" style="text-align: center; padding-top: 20px;"> No group details found for this section !!!</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button data-ng-if="unlockData.selectedGroupID.length>0" ng-click="fnUnlockEvent('screenGroup')" class="btn">Unlock now</button>
                    <button data-ng-click="fnGoBack('List')" class="btn">Go back</button>
                </form>
            </div>
            <div class="form-bottom" data-ng-if="unlockDetailConfirm == 'Yes'">
                <form name="unlockScreenGroupForm" data-ng-submit="fnSaveUnlockedEvent('screenGroup')">
                    <div class="form-group col-md-4">
                        <p>Select screen name to get the locked group list:</p>
                        <!--<select class="form-control" ng-model="unlockData.screenID">
                            <option ng-repeat="option in screenList" value="{{option.id}}">{{option.name}}</option>
                        </select>-->
                        <select class="form-control" ng-model="unlockData.screenID" data-ng-change="getScreenGroupList(unlockData.screenID)"
                                ng-options="option.id as option.name for option in screenList track by unlockData.screenID" disabled></select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12" data-ng-if="unlockData.screenID!=''">
                        <p>Group List:</p>
                        <table class="table table-condensed">
                            <thead>
                            <tr style="font-size:14px; background: rgba(56, 74, 99, 0.7); text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65); color: #fff">
                                <th class="cPointer col-md-1">Select</th>
                                <th class="cPointer col-md-11">Group Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size:14px" data-ng-repeat="objGroup in unlockData.screenLockedGroupList" data-ng-if="unlockData.screenLockedGroupList.length>0">
                                <th><input type="checkbox" ng-model="objGroup.isChecked" ng-true-value="true" ng-false-value="false" ng-click="getSelectedGroupArrayList(objGroup)" disabled="disabled"></th>
                                <th>{{objGroup.groupName || 'empty'}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <p>Reason<label class="switchOn">*</label> :</p>
                        <textarea placeholder="Type reason here..." required class="form-control" data-ng-model="unlockData.reason"></textarea>
                    </div>
                    <p>Are you sure to unlock this groups?
                        <button type="submit" class="btn">Yes</button>
                        <button data-ng-click="fnGoBack('screenGroup')" class="btn">No</button>
                    </p>
                </form>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div data-ng-if="openActivityLog">
        <div class="col-sm-12 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Activity log for unlock</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="textarea-initial" data-ng-if="eventNewActivityLogData.length==0">No activity log found</div>
            <table data-ng-if="eventNewActivityLogData.length > 0" st-table="displayEventNewActivityLogCollection"  st-safe-src="eventNewActivityLogData" class="table table-striped tableHeaderLight activityLogTable">
            <thead>
            <tr>
                <th class="cPointer col-md-1 sortable" st-sort="clientIPAddressForActivity"><span class="sorticon"></span>IP address</th>
                <th class="cPointer col-md-1 sortable" st-sort="typeOfSection"><span class="sorticon"></span>Section</th>
                <th class="cPointer col-md-1 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                <th class="cPointer col-md-1 sortable" st-sort="pluginFieldName"><span class="sorticon"></span>Field of activity</th>
                <th class="cPointer col-md-2 sortable" st-sort="timeOfActivity"><span class="sorticon"></span>Time of activity</th>
                <th class="col-md-6 cDefault">Description</th>
            </tr>
            <tr>
                <th><input st-search="clientIPAddressForActivity"/></th>
                <th><input st-search="typeOfSection"/></th>
                <th><input st-search="doneByUserFullName"/></th>
                <th><input st-search="typeOfActivity"/></th>
                <th><input st-search="pluginFieldName"/></th>
                <th>
                    <input st-search="timeOfActivity" data-ng-model="filterDate" />
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in displayEventNewActivityLogCollection">

                <td>
                    <div class="input-group">
                        <span>{{::log.clientIPAddressForActivity}}</span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span>{{::log.typeOfSection}}</span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span>{{::log.doneByUserFullName}}</span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span>{{::log.typeOfActivity}}</span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span data-ng-if="log.pluginFieldName != 'Add'">{{::log.pluginFieldName}}</span>
                        <span data-ng-if="log.pluginFieldName == 'Add'"></span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span>{{::log.timeOfActivity}}</span>
                        <span data-ng-if="log.timezoneAbbreviationForActivity.length > 0"> ({{::log.timezoneAbbreviationForActivity}})</span>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        Old value: {{::log.oldValue}}, New value: {{::log.newValue}}
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot ng-if = "eventNewActivityLogData.length>10">
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>
        </div>
    </div>
    <div data-ng-if="openActivityLog" class="col-sm-12 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h4><a data-ng-click="fnCallUnlock('log')" data-ng-class="{displayActivityLogLinc:showOldActivityLog==true}">See old activity log.</a></h4>
            </div>
        </div>
    </div>
    <div data-ng-if="openActivityLog && showOldActivityLog">
        <div class="col-sm-12 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Old activity log for unlock</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="textarea-initial" data-ng-if="eventActivityLogData.length==0 && showAppointmentsActivityLog">No activity log found</div>
            <table data-ng-if="eventActivityLogData.length > 0" st-table="displayEventActivityLogCollection"  st-safe-src="eventActivityLogData" class="table table-striped">
                <thead>
                <tr>
                    <th class="cPointer col-md-2 sortable" st-sort="doneByUserFullName"><span class="sorticon"></span>Activity done by</th>
                    <th class="cPointer col-md-1 sortable" st-sort="typeOfActivity"><span class="sorticon"></span>Type of activity</th>
                    <th class="cPointer col-md-2 sortable" st-sort="timeOfActivityDateTimeFormat"><span class="sorticon"></span>Time of activity</th>
                    <th class="col-md-7">Description</th>
                </tr>
                <tr>
                    <th><input st-search="doneByUserFullName"/></th>
                    <th><input st-search="typeOfActivity"/></th>
                    <th>
                        <input st-search="timeOfActivityDateTimeFormat" data-ng-model="filterData.timeOfActivity" />
                        <!--<input st-search="timeOfActivity" data-ng-model="filterData.timeOfActivity" data-ng-click="opencal($event)" is-open="status.opened" datepicker-popup="yyyy-MM" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'"/>-->
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="opencal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="log in displayEventActivityLogCollection">

                    <td>
                        <div class="input-group">
                            <span>{{::log.doneByUserFullName}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span>{{::log.typeOfActivity}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span>{{::((log.timeOfActivity)*1000|date:"yyyy-MM-dd hh:mm a")}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            {{log.newValue}}
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot ng-if = "appointmentsActivityLogData.length>10">
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>