<!--<div ng-controller="eventTypesMasterCtrl" >-->
<div >
    <div class="fLeft">     <!-- No grid classes are necessary for full-width elements. Ref: http://getbootstrap.com/examples/grid/-->
        <h3>Event types
            <button class="btn btn-default themeLabel" data-ng-click="fnAddeventTypes()" type="button" title="Add Event Types">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
            <span>{{ msgObj.msg.text }}</span>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="textarea-initial" data-ng-if="eventTypesDataSet.length==0">{{masterData.messageVal}}</div>
    <table data-ng-if="eventTypesDataSet.length>0" st-table="displayEventTypesListCollection" st-safe-src="eventTypesDataSet" class="table table-striped">
        <thead>
           <tr>
               <th class="cPointer col-md-3 sortable padding-left-45p" st-sort="name"><span class="sorticon"></span>Name</th>
               <th class="cPointer col-md-5 sortable padding-left-45p" st-sort="description"><span class="sorticon"></span>Description</th>
               <th class="cPointer col-md-3 sortable" st-sort="countOfEventOfThisType"><span class="sorticon"></span>Number of events of this type</th>
           </tr>
           <tr>
                <th class="padding-left-45p"><input st-search="name"/></th>
                <th class="padding-left-0p"><input st-search="description"/></th>
           </tr>
        </thead>
        <tbody>
           <tr class="cPointer reveal-elem-parent" data-ng-repeat="eventType in displayEventTypesListCollection">
               <td>
                    <div class="input-group">
                        <div class="pull-left width40p reveal-elem" >
                              <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-click="fnDeleteEventTypes(eventType)"></a>
                        </div>
                        <a href="javascript:void(0)" editable-text="eventType.name" buttons="no" blur="submit" data-ng-model="eventType.name" onaftersave="fnSaveEventType(eventType)" data-ng-keypress="fnSaveEventType(eventType)">{{eventType.name||'empty'}}</a>
                    </div>
               </td>
               <td>
                    <div class="input-group">
                        <a href="javascript:void(0)" editable-textarea="eventType.description" e-style="width:500px" buttons="no" blur="submit" data-ng-model="eventType.description" onaftersave="fnSaveEventType(eventType)" data-ng-keypress="fnSaveEventType(eventType)">{{eventType.description||'empty'}}</a>
                    </div>
               </td>
               <td>
                    {{::eventType.countOfEventOfThisType}}
               </td>
           </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>