<!--<div ng-controller="eventRemindersMasterCtrl" >-->
<div>
    <div class="panel-group">
        <!-- panel-default, panel-primary, panel-success, panel-info, panel-warning, panel-danger -->
        <div class="panel panel-primary"> 
            <div class="panel-heading">
                Master settings for event reminders.
                <div class="btn-group themeLabel pull-right dropdown" style="margin: -6px;">
                    <div class="btn btn-primary buttontitlebar dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-wrench nopadding"></i>
                    </div>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-if="wrenchObj.UpdateReminders" class="" data-ng-click="$event.stopPropagation();updateReminders()">
                            <a>Rescan and modify scheduled <br>reminders using current templates.</a>
                        </li>
                        <li data-ng-if="!wrenchObj.UpdateReminders" class="disabled" >
                            <a>Rescan and modify scheduled <br>reminders using current templates.</a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <!--<div class="panel-body">
                
                
            </div>-->
            <!--<div style="padding: 5px;">Currently nothing is being saved in db table. field isSendingScriptEnabled of table eventRemindersMasterSettings is responsible for mail sending script to enable or disable.</div>-->
            
            <table class="table table-striped table-condensed "> <!-- table-bordered -->
                <tbody> 
                    <!--<tr> 
                        <td style="min-width: 15%; vertical-align: middle;font-weight: bold;">Current status of mail sending script:</td> 
                        <td style="width: 10%; vertical-align: middle;font-weight: bold;">{{confObj.sendingScriptIsEnabled? 'Enabled' : 'Disabled'}}</td> 
                        <td colspan="2">
                            <div data-ng-if="confObj.sendingScriptIsEnabled" class="btn-group" aria-label="Disable" role="group">
                                <button class="btn btn-warning" type="button" data-ng-click="changeSendingScriptRunningStatus('disable')"> Make it disable </button>
                            </div>
                            <div data-ng-if="!confObj.sendingScriptIsEnabled" class="btn-group" aria-label="Enable" role="group">
                                <button class="btn btn-success" type="button" data-ng-click="changeSendingScriptRunningStatus('enable')"> Make it enable </button>
                            </div>
                        </td> 
                    </tr>-->
                    <tr> 
                        <td style="min-width: 15%; font-weight: bold;"><b><i>List of place holders and meaning:</i></b></td> <!-- %eType%", "%salutation%", "%fullNameOfUser%", "%eStartTime%", "%doctorName%", "%doctorAdminName% -->
                        <td style="width: 10%; vertical-align: middle;">
                            <div>%eType%</div>
                            <div>%salutation%</div>
                            <div>%fullNameOfUser%</div>
                            <div>%eStartTime%</div>
                            <div>%doctorName%</div>
                            <div>%doctorAdminName%</div>
                            <div>%addressLine1%</div>
                            <div>%addressLine2%</div>
                            <div>%city%</div>
                            <div>%state%</div>
                            <div>%zip%</div>
                        </td>
                        <td colspan="2">
                            <div>Event type</div>
                            <div>Salutation (Mr. or Ms.)</div>
                            <div>Full name of patient</div>
                            <div>Event start time</div>
                            <div>Name of doctor associated with an event.</div>
                            <div>Name of doctor admin of the doctor associated with an event.</div>
                            <div>Address line 1 for the location where event is scheduled (e.g. 4966 El Camino Real).</div>
                            <div>Address line 2 for the location where event is scheduled (e.g. Suite 224).</div>
                            <div>City name for the location where event is scheduled (e.g. Los Altos).</div>
                            <div>State name for the location where event is scheduled (e.g. CA).</div>
                            <div>Zip code for the location where event is scheduled (e.g. 94022).</div>
                        </td>
                    </tr> 
                    <tr> 
                        <td ><b>Email subject: </b>
                            <!--<div style="font-style: oblique;">
                                <div>( Allowed placeholders:</div>
                                <div>%eType%, %eStartTime% )</div>
                            </div>-->
                        </td> 
                        <td colspan="3">
                            <div style="position: relative;">
                                <!--<div id="testdiv" style="border: 1px solid #f00; width: 160px; background: #fff; position: absolute; top: 1px; right: 1px; height: 128px; padding: 5px;" data-ng-style="confObj.emailSubjectPlaceholderSuggestion">
                                    <ul style="padding-left: 5px; list-style-type: none;">
                                        <li data-ng-click="appendIt('subject','%eType%')">%eType%</li>
                                        <li data-ng-click="appendIt('subject','%salutation%')">%salutation%</li>
                                        <li data-ng-click="appendIt('subject','%fullNameOfUser%')">%fullNameOfUser%</li>
                                        <li data-ng-click="appendIt('subject','%eStartTime%')">%eStartTime%</li>
                                        <li data-ng-click="appendIt('subject','%doctorName%')">%doctorName%</li>
                                        <li data-ng-click="appendIt('subject','%doctorAdminName%')">%doctorAdminName%</li>
                                    </ul>
                                </div>-->
                
                                
                                <a href="#" data-editable-textarea="confObj.emailSubjectTemplate" data-e-rows="2" data-e-cols="140" data-onbeforesave="updateEmailSubject($data)"> <!--data-e-ng-keyup="getSuggestion($event)"-->
                                    <div style="white-space: pre-wrap;color: #222;font-family: Verdana;">{{ confObj.emailSubjectTemplate || 'No template defined' }}</div>
                                </a>
                            </div>
                            <!--<textarea disabled cols="" rows="" data-ng-model="confObj.emailSubjectTemplate" style="width: 100%;height: 50px;">{{ confObj.emailSubjectTemplate }}</textarea>-->
                        </td> 
                    </tr> 
                    <tr> 
                        <td ><b>Email body:</b> 
                            <!--<div style="font-style: oblique;">( Allowed placeholders: %eType%, %salutation%, %fullNameOfUser%, %eStartTime%, %doctorName%, %doctorAdminName% )</div>-->
                        </td> 
                        <td colspan="3">
                            <!--<div class="well">
                                {{ confObj.emailBodyTemplate }}
                            </div>-->
                            <!--<textarea disabled cols="" rows="" data-ng-model="confObj.emailBodyTemplate" style="width: 100%;height: 100px;">{{ confObj.emailBodyTemplate }}</textarea>-->
                            <a href="#" data-editable-textarea="confObj.emailBodyTemplate" data-e-rows="7" data-e-cols="140" data-onbeforesave="updateEmailBody($data)">
                                <div style="white-space: pre-wrap;color: #222;font-family: Verdana;">{{ confObj.emailBodyTemplate || 'No template defined' }}</div>
                            </a>
                        </td> 
                    </tr> 
                    <tr> 
                        <td ><b>SMS body:</b>
                            <!--<div style="font-style: oblique;">( Allowed placeholders: %eType%, %salutation%, %fullNameOfUser%, %eStartTime%, %doctorName%, %doctorAdminName% )</div>-->
                        </td> 
                        <td colspan="3">
                            <!--<div class="well">
                                {{ confObj.smsBodyTemplate }}
                            </div>-->
                            <!--<textarea disabled cols="" rows="" data-ng-model="confObj.smsBodyTemplate" style="width: 100%;height: 100px;">{{ confObj.smsBodyTemplate }}</textarea>-->
                            <a href="#" data-editable-textarea="confObj.smsBodyTemplate" data-e-rows="7" data-e-cols="140" data-onbeforesave="updateSmsBody($data)">
                                <div style="white-space: pre-wrap;color: #222;font-family: Verdana;">{{ confObj.smsBodyTemplate || 'No template defined' }}</div>
                            </a>
                        </td> 
                    </tr>
                </tbody> 
            </table>
            
            
        </div>

    </div>

</div>