<!--<div ng-controller="allowedFileExtensionMasterCtrl">-->
<div>
    <div class="fLeft">
        <h3>Allowed File Extensions &nbsp;
            <button class="btn btn-default themeLabel" ng-click="fnAddFileExtension()" type="button" title="Add File Extension">
                <i class="glyphicon glyphicon-plus nopadding"></i>
            </button>
        </h3>
    </div>
    <div data-ng-if="msgObj.msg.open">
        <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass" style="margin-top: 25px !important;">
            <span>{{ masterData.messageVal }}</span>
            <span data-ng-if="showDetailedError == true"><a href="" data-ng-click="fnShowHideErrorDetail()">View detail</a></span>
        </div>
        <div class="pannel-message-board mTop20" data-ng-if="showErrorMessage">
            <span class="alert-danger">{{detailedErrorMsg}}</span>&nbsp;&nbsp;
            <span><a href="" data-ng-click="fnShowHideErrorDetail()">Hide detail</a></span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="textarea-initial" data-ng-if="masterData.allowedFileExtensionList.length==0">Nothing found</div>
    <div class="col-md-12">
    <table data-ng-if="masterData.allowedFileExtensionList.length>0" st-table="displayAllowedFileExtensionListCollection" st-safe-src="masterData.allowedFileExtensionList" class="table ng-scope">
        <thead>
        <tr>
            <th class=" col-md-2 " style="width:1%;"></th>
            <th class=" col-md-2 " style="width:22%;">File Extension Type</th>
            <th class=" col-md-2 " style="width:22%;">Number of time used</th>
        </tr>

        </thead>
        <tbody class="alternate-col">
        <tr class=" reveal-elem-parent" data-ng-repeat="fileExtension in displayAllowedFileExtensionListCollection" data-ng-class="{'warning':fileExtension.id == 0}">
            <td>
                <div class="pull-left width40p reveal-elem" data-ng-if ="fileExtension.noOfTimeUsed == 0 || fileExtension.noOfTimeUsed == null">
                    <a href="" class="glyphicon glyphicon-trash text-danger" data-ng-click="fnDeleteAllowedFile(fileExtension.id, $index)" id="remove-ss"></a>
                </div>
            </td>

            <td >
                <a class="cPointer" href="javascript:void(0)"  editable-text="fileExtension.fileExtensionType" data-ng-if ="fileExtension.noOfTimeUsed == 0 || fileExtension.noOfTimeUsed == null" buttons="no" blur="submit" data-ng-model="fileExtension.fileExtensionType"
                   onbeforesave="fnCheckFileExtension(fileExtension, $data, 'File Extension Type')"
                   onaftersave="fnSaveFileExtension(fileExtension, $index)" data-ng-keypress="fnSaveFileExtension(fileExtension , $index)" >{{fileExtension.fileExtensionType||'empty'}}</a>

                <span data-ng-if ="fileExtension.noOfTimeUsed > 0">{{fileExtension.fileExtensionType||'empty'}}</span>
            </td>
            <td>
                {{fileExtension.noOfTimeUsed || 0}}
            </td>
            <!--<td>
                <a class="btn btn-danger btn-xs cPointer" data-ng-if="fileExtension.allowedOrNot == 'no'" data-ng-click="fnSaveAllowedOrNot(fileExtension, 'yes', $index)">{{fileExtension.allowedOrNot}}</a>
                <a class="btn btn-success btn-xs cPointer" data-ng-if="fileExtension.allowedOrNot == 'yes'" data-ng-click="fnSaveAllowedOrNot(fileExtension, 'no', $index)">{{fileExtension.allowedOrNot}}</a>
            </td>-->
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="16" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    </div>


</div>