<div ng-controller="userMasterCtrl">
    <div class="jumbotron">
        <div class="form-group">
            <div class="col-md-4">
                <h3>New user added with the following details</h3>
            </div>
            <div class="col-md-4">
                <div data-ng-if="msgObj.msg.open">
                    <div class="pannel-message-board alert-success mTop20" data-ng-class="msgObj.msg.mclass">
                        <span>{{ msgObj.msg.text }}</span>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p data-ng-if="masterData.newUserData.firstName">&nbsp;</p>
        <div class="form-group" data-ng-if="masterData.newUserData.firstName">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="fname">First name</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control fLeft" data-ng-model="masterData.newUserData.firstName" disabled>
                </div>
            </div>
        </div>
        <p data-ng-if="masterData.newUserData.lastName">&nbsp;</p>
        <div class="form-group" data-ng-if="masterData.newUserData.lastName">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="fname">Last name</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" data-ng-model="masterData.newUserData.lastName" disabled>
                </div>    
            </div>
        </div>
        <p data-ng-if="masterData.newUserData.dob">&nbsp;</p>
        <div class="form-group" data-ng-if="masterData.newUserData.dob"> 
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="dob">Date of birth</label>   
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" data-ng-model="masterData.newUserData.dob" disabled>
                </div>
            </div>
        </div>
        <p data-ng-if="masterData.newUserData.phone">&nbsp;</p>
        <div class="form-group" data-ng-if="masterData.newUserData.phone"> 
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="dob">Phone number</label>   
                </div>
                <div class="col-md-4">
                    <input type="tel" class="form-control" data-ng-model="masterData.newUserData.phone" disabled>
                </div>
            </div>
        </div>
        <p data-ng-if="masterData.newUserData.emailAddress">&nbsp;</p>
        <div class="form-group" data-ng-if="masterData.newUserData.emailAddress"> 
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="dob">Email id</label>   
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" data-ng-model="masterData.newUserData.emailAddress" disabled>
                </div>
            </div>
        </div>
        <p data-ng-if="masterData.newUserData.gender">&nbsp;</p>
        <div class="form-group" data-ng-if="masterData.newUserData.gender">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="gender">Gender</label>
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" data-ng-model="masterData.newUserData.gender" disabled>
                </div>
            </div>
        </div>
        <p data-ng-if="masterData.newUserData.roleName">&nbsp;</p>
        <div class="form-group" data-ng-if="masterData.newUserData.roleName">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="faqQuestion">Roles</label>   
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" data-ng-model="masterData.newUserData.roleName" disabled>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span data-ng-show="userForm.role.$error" class="help-block">Select role</span>
                </div>
            </div>
        </div>   
        <p>&nbsp;</p>
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" data-ng-click="adduser()">Add one more</button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" data-ng-click="userListing()">Go to users list</button>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>
</div>