<style>
    .modal-header {
        background-color: #5cb85c;
        color:white !important;
        text-align: center;
        font-size: 22px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
</style>

<div id="divFocus">
<div class="modal-header" style="padding:5px 10px;">
    <h4><span class="glyphicon glyphicon-info-sign"></span> Confirm Delete.</h4>
</div>
<div class="modal-body" style="padding:10px 20px 40px 20px">
    <form role="form" >
        <div class="alert alert-danger" style="margin-top: 15px;">
            <p style="text-align: left;"> Are you sure to delete this screens?</p>
        </div>
        <div>
            <button type="submit" id="submitbtn" autofocus data-ng-click="confirmTrue(assignScreensData)" class="btn btn-success btn-default pull-left"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
            <button type="submit"  class="btn btn-danger btn-default pull-right" data-ng-click="cancelDelete()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
    </form>
</div>
</div>