<!--<div data-ng-controller="policiesMasterCtrl">-->
<div>
    <ul class="nav nav-pills nav-stacked" data-ng-if="policyDetailName == 'List'">
        <li><h4><a data-ng-click="fnPolicyDetailView('Finance')">1. Financial policy</a></h4></li>
        <li><h4><a data-ng-click="fnPolicyDetailView('Treatment')">2. Treatment policy</a></h4></li>
        <li><h4><a data-ng-click="fnPolicyDetailView('Pirvacy')">3. Pirvacy policy</a></h4></li>
    </ul>
    <div data-ng-if="policyDetailName == 'Finance'">
        <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
            <h3>Financial policy
                <button class="btn btn-default themeLabel" data-ng-click="fnAddPolicy('Financial')" type="button" title="Create a new version">
                    <i class="glyphicon glyphicon-plus nopadding"></i>
                </button>
            </h3>
        </div>
        <div class="col-md-12">
            <table data-ng-if="financeMasterData.length>0" st-table="displayFinanceCollection" st-safe-src="financeMasterData" class="table table-striped">
                <thead>
                    <tr>
                        <th class="cPointer col-md-4 sortable" st-sort="versionNumberOfPolicy"><span class="sorticon"></span>Version</th>
                        <th class="cPointer col-md-4 sortable" st-sort="assetType"><span class="sorticon"></span>Created</th>
                        <th class="cPointer col-md-4">Action</th>
                    </tr> 
                    <tr>
                        <th class="padding-left-45p"><input st-search="name"/></th>
                        <th><input st-search="typeName"/></th>
                    </tr>           
                </thead>
                <tbody>
                    <tr class="cPointer reveal-elem-parent" data-ng-repeat="finance in displayFinanceCollection">
                       <td>
                            {{::finance.versionNumberOfPolicy}}
                       </td>
                       <td>
                            {{::finance.createdAtDateTime}}
                       </td>
                       <td>
                            <a href="javascript:void(0)" data-ng-click="fnOpenPolicy(finance)">See policy content</a>
                       </td>
                   </tr>         
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div data-ng-if="policyDetailName == 'Treatment'">
        <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
            <h3>Treatment contract
                <button class="btn btn-default themeLabel" data-ng-click="fnAddPolicy('Treatment')" type="button" title="Create a new version">
                    <i class="glyphicon glyphicon-plus nopadding"></i>
                </button>
            </h3>
        </div>
        <div class="col-md-12">
            <table data-ng-if="treatmentMasterData.length>0" st-table="displayTreatmentCollection" st-safe-src="treatmentMasterData" class="table table-striped">
                <thead>
                    <tr>
                        <th class="cPointer col-md-4 sortable" st-sort="versionNumberOfPolicy"><span class="sorticon"></span>Version</th>
                        <th class="cPointer col-md-4 sortable" st-sort="assetType"><span class="sorticon"></span>Created</th>
                        <th class="cPointer col-md-4">Action</th>
                    </tr> 
                    <tr>
                        <th class="padding-left-45p"><input st-search="name"/></th>
                        <th><input st-search="typeName"/></th>
                    </tr>           
                </thead>
                <tbody>
                    <tr class="cPointer reveal-elem-parent" data-ng-repeat="treatment in displayTreatmentCollection">
                       <td>
                            {{::treatment.versionNumberOfPolicy}}
                       </td>
                       <td>
                            {{::treatment.createdAtDateTime}}
                       </td>
                       <td>
                            <a href="javascript:void(0)" data-ng-click="fnOpenPolicy(treatment)">See policy content</a>
                       </td>
                   </tr>         
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div data-ng-if="policyDetailName == 'Pirvacy'">
        <div class="fLeft">  <!-- No grid classes are necessary for full-width elements. http://getbootstrap.com/examples/grid/-->
            <h3>Privacy policy
                <button class="btn btn-default themeLabel" data-ng-click="fnAddPolicy('Privacy')" type="button" title="Create a new version">
                    <i class="glyphicon glyphicon-plus nopadding"></i>
                </button>
            </h3>
        </div>
        <div class="col-md-12">
            <table data-ng-if="privacyMasterData.length>0" st-table="displayPrivacyCollection" st-safe-src="privacyMasterData" class="table table-striped">
                <thead>
                    <tr>
                        <th class="cPointer col-md-4 sortable" st-sort="versionNumberOfPolicy"><span class="sorticon"></span>Version</th>
                        <th class="cPointer col-md-4 sortable" st-sort="assetType"><span class="sorticon"></span>Created</th>
                        <th class="cPointer col-md-4">Action</th>
                    </tr> 
                    <tr>
                        <th class="padding-left-45p"><input st-search="name"/></th>
                        <th><input st-search="typeName"/></th>
                    </tr>           
                </thead>
                <tbody>
                    <tr class="cPointer reveal-elem-parent" data-ng-repeat="privacy in displayPrivacyCollection">
                       <td>{{::privacy.versionNumberOfPolicy}}</td>
                       <td>
                            {{::privacy.createdAtDateTime}}
                       </td>
                       <td>
                            <a href="javascript:void(0)" data-ng-click="fnOpenPolicy(privacy)">See policy content</a>
                       </td>
                   </tr>         
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="padding10 commentOnEventContainer" style="clear: both;">
        <div class="md-col-12">
            <div data-ng-if="addPolicy" class="animate-if policyAdd">
                <label>Add new {{lastPolicyData.name}}</label>
                <!--<textarea class="form-control" rows="2" data-ng-model="newComment.comment" data-ng-maxlength="newComment.maxCharCount" data-ng-trim="false"></textarea>-->
                <!--<div text-angular ng-model="newComment.comment" data-ng-maxlength="newComment.maxCharCount" data-ng-trim="false" ></div>-->
                <wysiwyg-edit content="lastPolicyData.content" config="editorConfig"></wysiwyg-edit>
            </div>
        </div>
        <div class="md-col-12">
            <button data-ng-if="addPolicy" type="button" class="btn btn-default comment-add-btn" data-ng-click="fnSavePolicy(lastPolicyData)" data-ng-disabled="commentAddBtnDisable">Add</button>
            <button data-ng-if="addPolicy" type="button" class="btn btn-link comment-cancel-btn" data-ng-click="fnCancelPolicy()">Cancel</button>
        </div>
    </div>
</div>