<div class="modal-header"><h3 class="modal-title">TREATMENT CONTRACT</h3></div>
<form  name="TreatmentContract">
    <div class="modal-body">
        <div ng-bind-html="policyobj.content | to_trusted">
            {{policyobj.content}}
        </div>
        <p>
            <span class="col-sm-2">User Name: </span><span class="col-sm-10"><em>"<< name >>"</em></span><br />
            <span class="col-sm-2">Date of Birth: </span><span class="col-sm-10"><em>"<< dob >>"</em></span><br />
            <!--<span class="col-sm-2">Phone Number: </span><span class="col-sm-10"><em>{{ policyobj.userobj.fullname }}</em></span><br />-->
            <span class="col-sm-2">Email: </span><span class="col-sm-10"><em>"<< email >>"</em></span><br />
            <!--Personal Address: <br />-->
        </p>

        <div ng-if="policyobj.pid==null">
            <!--Signature : <input type="text" name="input" data-ng-model="policyobj.signature" ng-required="!policyobj.signature"/><br />
            Print name : <input type="text" name="input" data-ng-model="policyobj.printname" ng-required="!policyobj.printname"/><br />
            Date : <input type="date" name="dateInput" ng-required="!policyobj.signdate" close-text="Close" data-ng-model="policyobj.signdate"/><br />-->
            Signature : <div ng-required="!policyobj.signature" drawing></div>

            <div class="input-group">
            <span class="input-group-addon">Print name :</span>
            <input class="form-control col-sm-6" type="text" name="input" data-ng-model="policyobj.printname" ng-required="!policyobj.printname">
            </div>
            
            <div class="input-group">
            <span class="input-group-addon">Date :</span>
            <input class="form-control col-sm-6" type="date" name="dateInput" ng-required="!policyobj.signdate" close-text="Close" data-ng-model="policyobj.signdate">
            </div>
        </div>
        <p data-ng-if="policyobj.pid">
            Signature : <img src="{{ policyobj.signature }}" alt="signature"> <br />
            Print name : <em>{{ policyobj.printname }}</em><br />
            Date : <em>{{ policyobj.signdate }}</em><br />
        </p>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-sm btn-warning" data-ng-click="cancel()" data-ng-keypress="cancel()">Close</button>
    </div>
</form>