<!--<nav ng-if="pages.length >= 2">-->
    <ul class="pagination">
        <li><a ng-click="selectPage(1)"><span class="glyphicon glyphicon-fast-backward"></span></a>
        </li><li><a ng-click="selectPage(currentPage - 1)"><span class="glyphicon glyphicon-chevron-left"></span></a><!--&lt;-->
        </li><li><a><st-custom-page-select></st-custom-page-select> of {{numPages}}</a>
        </li><li><a ng-click="selectPage(currentPage + 1)"><span class="glyphicon glyphicon-chevron-right"></span></a><!--&gt;-->
        </li><li><a ng-click="selectPage(numPages)"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
    </ul>
<!--</nav>-->