<!--<div ng-controller="patientPortalConfigsMasterCtrl" >-->
<div>
    <div class="fLeft">
        <h3>Patient portal configuration</h3>
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-3 padding-left-45p">Plugins</th>
                <th class="col-md-3" >Enable or Disable</th>
                <!--<th class="col-md-6">Role(*Under development.)</th>-->
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="plugin in plugins">
                    <td class="col-md-5 padding-left-45p">{{plugin.pluginTitle}}</td>
                    <td class="col-md-3">
                        <a ng-if="plugin.isEnabled == 'Yes'" class="btn btn-success btn-xs cPointer" ng-click="fnToggleEnableOrDisable(plugin)">Enabled</a>
                        <a ng-if="plugin.isEnabled == 'No'" class="btn btn-danger btn-xs cPointer" ng-click="fnToggleEnableOrDisable(plugin)">Disable</a>
                    </td>
                   <!-- <td class="col-md-3">
                     &lt;!&ndash;   <span data-ng-repeat="r in role">{{r.pluginID}}</span>&ndash;&gt;
                       &lt;!&ndash; <span data-ng-repeat="r in role"><span data-ng-if="r.id == $index">{{r.id}}</span></span>&ndash;&gt;

                        <oi-select
                            oi-options="userRole.name for userRole in roleData track by userRole.id"
                            ng-model="plugin.role"
                            multiple
                            placeholder="Select"
                            ng-change="setRoleType(plugin)"
                    ></oi-select>

                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!--
changebtn(plugin,$index)-->
